<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Conteúdo">
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>História da arte</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            A arte e a história da humanidade se entrelaçam profundamente, desde
            os seus primórdios. A história da arte é o estudo das inúmeras
            manifestações artísticas elaboradas pelo homem, com a finalidade
            estética ou comunicativa, buscando expressar ideias, emoções e
            visões do mundo.
          </p>
          <p>
            A história da arte acompanha, de perto, o desenvolvimento e o
            desenrolar da própria história da humanidade, criando laços
            profundos com a cultura dos inúmeros povos espalhados pelo mundo.
            Busca compreender as manifestações que aconteceram ao longo do tempo
            e as que acontecem atualmente, correlacionando-as ao contexto
            histórico de cada época.A história da arte acompanha, de perto, o
            desenvolvimento e o desenrolar da própria história da humanidade,
            criando laços profundos com a cultura dos inúmeros povos espalhados
            pelo mundo. Busca compreender as manifestações que aconteceram ao
            longo do tempo e as que acontecem atualmente, correlacionando-as ao
            contexto histórico de cada época.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>História da arte no Brasil</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            A história da arte no Brasil é igualmente extensa. Compreende toda e
            qualquer manifestação artística desde os períodos anteriores à
            colonização. Para se ter uma ideia, as formas artísticas mais
            antigas do país são datadas de 15.000 anos atrás, encontradas no
            estado do Piauí.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Arte pré-colonização</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            Vários estudos confirmam a presença de registros artísticos na
            pré-história do Brasil. Na Paraíba existem pinturas rupestres com
            cerca de 11.000 anos de idade. Em Minas Gerais, registros artísticos
            muito característicos, com raras formas geométricas, datam de 2.000
            a 10.000 anos atrás. Tudo isso sem contar nas artes “plásticas” da
            pré-história. O Brasil é rico em registros de objetos utilizando
            ossos, pedras, chifres e argila, com um propósito utilitário e
            cerimonial, exalando uma alta preocupação estética.
          </p>
          <p>
            Já os registros de arte indígena são originários, principalmente, da
            região amazônica. As civilizações indígenas pré-colonização
            fabricavam vários objetos de cerâmica, com finalidades estéticas. É
            possível destacar vasos em formas humanas e de animais, por exemplo.
            As costas do Maranhão e da Bahia são riquíssimos territórios com
            registros de produção de cerâmica. Além disso, a arte indígena
            sempre foi muito rica em outros tipos de expressão, como pintura
            corporal, trançados e fabricação de objeto com plumas de aves.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Arte contemporânea</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            Os estudiosos nunca chegaram a um consenso sobre o período exato em
            que se inicia o que chamamos hoje de arte contemporânea. Entretanto,
            é possível dizer que seu início foi próximo da metade do século XX,
            logo após o término da Segunda Guerra Mundial, buscando romper com a
            arte moderna. Após a guerra, os artistas buscaram se voltar às
            questões do inconsciente, interessados em encontrar maneiras de
            reconstruir a sociedade, dizimada pelo conflito mundial.
          </p>
          <p>
            AMais evidente nos anos 1950, os movimentos culturais passaram a
            questionar a sociedade pós-guerra, em atitudes de verdadeira
            rebeldia contra o estilo de vida difundido pela mídia da época. Além
            disso, com o surgimento de novas tecnologias, as pessoas passaram a
            entender que a arte feita por outros poderia, na verdade, ser uma
            tradução de suas próprias vidas.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Artes</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            “Eu sonho com minha pintura e pinto meu sonho.” -Vincent Van Gogh.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
            class="mat-button"
            mat-raised-button
            color="accent"
            routerLink="/materia/matematica"
          >
            Comece já
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Exercícios"></mat-tab>

  <mat-tab label="Vídeo aulas">
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="videos"
        style="margin-left: auto; margin-top: auto;">
        <mat-card-header> </mat-card-header>

        <mat-card-content>
          <div align="center">
            <iframe
              width="80%"
              height="700"
              src="https://www.youtube.com/embed/SkS2xg8NYKk"
              title="YouTube video player"
              frameborder="1"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </mat-card-content>
        <mat-card-content>
          <div align="center">
            <iframe
              width="80%"
              height="700"
              src="https://www.youtube.com/embed/yMrBsIdPyMo"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>
