<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Conteúdo">
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>História da arte</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            A arte e a história da humanidade se entrelaçam profundamente, desde
            os seus primórdios. A história da arte é o estudo das inúmeras
            manifestações artísticas elaboradas pelo homem, com a finalidade
            estética ou comunicativa, buscando expressar ideias, emoções e
            visões do mundo.
          </p>
          <p>
            A história da arte acompanha, de perto, o desenvolvimento e o
            desenrolar da própria história da humanidade, criando laços
            profundos com a cultura dos inúmeros povos espalhados pelo mundo.
            Busca compreender as manifestações que aconteceram ao longo do tempo
            e as que acontecem atualmente, correlacionando-as ao contexto
            histórico de cada época.A história da arte acompanha, de perto, o
            desenvolvimento e o desenrolar da própria história da humanidade,
            criando laços profundos com a cultura dos inúmeros povos espalhados
            pelo mundo. Busca compreender as manifestações que aconteceram ao
            longo do tempo e as que acontecem atualmente, correlacionando-as ao
            contexto histórico de cada época.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>História da arte no Brasil</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            A história da arte no Brasil é igualmente extensa. Compreende toda e
            qualquer manifestação artística desde os períodos anteriores à
            colonização. Para se ter uma ideia, as formas artísticas mais
            antigas do país são datadas de 15.000 anos atrás, encontradas no
            estado do Piauí.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Arte pré-colonização</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            Vários estudos confirmam a presença de registros artísticos na
            pré-história do Brasil. Na Paraíba existem pinturas rupestres com
            cerca de 11.000 anos de idade. Em Minas Gerais, registros artísticos
            muito característicos, com raras formas geométricas, datam de 2.000
            a 10.000 anos atrás. Tudo isso sem contar nas artes “plásticas” da
            pré-história. O Brasil é rico em registros de objetos utilizando
            ossos, pedras, chifres e argila, com um propósito utilitário e
            cerimonial, exalando uma alta preocupação estética.
          </p>
          <p>
            Já os registros de arte indígena são originários, principalmente, da
            região amazônica. As civilizações indígenas pré-colonização
            fabricavam vários objetos de cerâmica, com finalidades estéticas. É
            possível destacar vasos em formas humanas e de animais, por exemplo.
            As costas do Maranhão e da Bahia são riquíssimos territórios com
            registros de produção de cerâmica. Além disso, a arte indígena
            sempre foi muito rica em outros tipos de expressão, como pintura
            corporal, trançados e fabricação de objeto com plumas de aves.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Arte contemporânea</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            Os estudiosos nunca chegaram a um consenso sobre o período exato em
            que se inicia o que chamamos hoje de arte contemporânea. Entretanto,
            é possível dizer que seu início foi próximo da metade do século XX,
            logo após o término da Segunda Guerra Mundial, buscando romper com a
            arte moderna. Após a guerra, os artistas buscaram se voltar às
            questões do inconsciente, interessados em encontrar maneiras de
            reconstruir a sociedade, dizimada pelo conflito mundial.
          </p>
          <p>
            AMais evidente nos anos 1950, os movimentos culturais passaram a
            questionar a sociedade pós-guerra, em atitudes de verdadeira
            rebeldia contra o estilo de vida difundido pela mídia da época. Além
            disso, com o surgimento de novas tecnologias, as pessoas passaram a
            entender que a arte feita por outros poderia, na verdade, ser uma
            tradução de suas próprias vidas.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Artes</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            “Eu sonho com minha pintura e pinto meu sonho.” -Vincent Van Gogh.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
            class="mat-button"
            mat-raised-button
            color="accent"
            routerLink="/materia/matematica"
          >
            Comece já
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Exercícios"><div appearance="fill" style="margin-top: 10px; width: 100%;"  class="content">
    <mat-card class="mat-elevation-z4" >
      <mat-card-header>
        <mat-card-title>arte contemporânea</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="imagem">
       <img src="https://static.todamateria.com.br/upload/sp/et/spetoenem.jpg" alt="Speto" width=50% height=40%>
        </p>
        <p>
          TEXTO II <br>
          Paulo César Silva, mais conhecido como Speto, é um grafiteiro paulista envolvido com o skate e a música. O fortalecimento de sua arte ocorreu, em 1999, pela oportunidade de ver de perto as referências que trazia há tempos, ao passar por diversas cidades do Norte do Brasil em uma turnê com a banda O Rappa.

          <br>Revista Zupi, n. 19, 2010

          O grafite do artista paulista Speto, exposto no Museu Afro Brasil, revela elementos da cultura brasileira reconhecidos:<br>

          a) na influência da expressão abstrata.<br>
          b) na representação de lendas nacionais.<br>
          c) na inspiração das composições musicais.<br>
          d) nos traços marcados pela xilogravura nordestina.<br>
          e) nos usos característicos de grafismos dos skates.<br>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title style="align-items: center; justify-content: center;">
              Resposta
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Alternativa correta: d) nos traços marcados pela xilogravura nordestina.

            A xilogravura é uma expressão artística muito presente na cultura nordestina, aliada principalmente à literatura de cordel - folhetos impressos com versos rimados.<br>

            a) INCORRETA. O artista não usa a arte abstrata como inspiração, o que percebe-se através dos elementos figurativos de sua obra.<br>

            b) INCORRETA. Aqui não há a representação de lendas nacionais, mas de figuras comuns presentes no povo brasileiro, sobretudo nordestino.<br>

            c) INCORRETA. Não é possível perceber relação da música com a obra de Speto.<br>

            Para fazer xilogravura, é necessária a produção de uma matriz talhada em madeira que é depois "carimbada" em um papel. Características marcantes dessa forma de arte são as linhas grossas e o contraste.<br>

            No caso da xilogravura nordestina há ainda a valorização de temas populares. Todos esses elementos estão presentes na obra de Speto, o artista citado.<br>

            e) INCORRETA. A cultura dos skatistas não evidencia-se no trabalho de Speto, apesar de seu envolvimento com o skate.</p>
          <p > </p>
        </mat-expansion-panel>
      </mat-card-actions>
    </mat-card>
    <mat-card class="mat-elevation-z4" style="padding:16px; margin-top: 20px;" >
      <mat-card-header>
        <mat-card-title>Body art</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p class="imagem">
          <img src="https://static.todamateria.com.br/upload/he/le/helenaalmeida-cke.jpg" alt="ALMEIDA, H" width=50% height=40%>
        </p>
        <p>
          A body art põe o corpo tão em evidência e o submete a experimentações tão variadas, que sua influência estende-se aos dias de hoje. Se na arte atual as possibilidades de investigação do corpo parecem ilimitadas - pode-se escolher entre representar, apresentar, ou ainda apenas evocar o corpo - isso ocorre graças ao legado dos artistas pioneiros.<br>

          Nos textos, a concepção de body art está relacionada à intenção de:<br>
          a) estabelecer limites entre o corpo e a composição.<br>
          b) fazer do corpo um suporte privilegiado de expressão.<br>
          c) discutir políticas e ideologias sobre o corpo como arte.<br>
          d) compreender a autonomia do corpo no contexto da obra.<br>
          e) destacar o corpo do artista em contato com o expectador.<br>

        </p>
      </mat-card-content>
      <mat-card-actions>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title style="align-items: center; justify-content: center;">
              Resposta
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Alternativa correta: b) fazer do corpo um suporte privilegiado de expressão.<br>

            A linguagem artística body art - com tradução em português para "arte do corpo" - utiliza justamente como matéria e suporte principal o corpo do artista, privilegiando-o como meio criativo e de expressão.<br>

            a) INCORRETA. A composição não está colocada aqui como elemento de análise.

            A artista portuguesa Helena Almeida (Texto I), produziu uma obra extensa em que utiliza sobretudo o corpo como suporte elementar, o que é inerente à body art. No texto II é revelado que para além da pintura e desenho corporal, o corpo em si pode ser utilizado como suporte artístico de forma privilegiada.<br>

            c) INCORRETA. A intenção da body art não é discutir políticas e ideologia sobre o corpo como arte, mas utilizá-lo como ferramenta para discutir sobre diversos assuntos, inclusive sobre o corpo.<br>

            d) INCORRETA. A obra não tem a finalidade de compreender a autonomia do corpo, e sim de usá-lo como suporte.<br>

            e) INCORRETA. Em nenhum momento ficou clara a relação entre o corpo do artista e o expectador.
          </p>
        </mat-expansion-panel>
      </mat-card-actions>
    </mat-card>
    <mat-card class="mat-elevation-z4" >
      <mat-card-header>
        <mat-card-title>imagens fotogramáticas </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="imagem">
          <img src="https://static.todamateria.com.br/upload/ma/nr/manray.jpg" alt="Ray,man" width=50% height=40%>
        </p>
        <p>
          TEXTO I

          Também chamados impressões ou imagens fotogramáticas […], os fotogramas são, numa definição genérica, imagens realizadas sem a utilização da câmera fotográfica, por contato direto de um objeto ou material com uma superfície fotossensível exposta a uma fonte de luz. Essa técnica, que nasceu junto com a fotografia e serviu de modelo a muitas discussões sobre a ontologia da imagem fotográfica, foi profundamente transformada pelos artistas da vanguarda, nas primeiras décadas do século XX. Representou mesmo, ao lado das colagens, fotomontagens e outros procedimentos técnicos, a incorporação definitiva da fotografa à arte moderna e seu distanciamento da representação figurativa.<br>

          No fotograma de Man Ray, o “distanciamento da representação figurativa” a que se refere o Texto I manifesta-se na:<br>
          a) ressignificação do jogo de luz e sombra, nos moldes surrealistas.<br>
          b) imposição do acaso sobre a técnica, como crítica à arte realista.<br>
          c) composição experimental, fragmentada e de contornos difusos.<br>
          d) abstração radical, voltada para a própria linguagem fotográfica.<br>
          e) imitação de formas humanas, com base em diferentes objetos.<br>

        </p>
      </mat-card-content>
      <mat-card-actions>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title style="align-items: center; justify-content: center;">
              Resposta
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Alternativa correta: c) composição experimental, fragmentada e de contornos difusos.<br>

            A rayografia surge na história da arte como um processo experimental em que fotógrafos/artistas estavam criando novas composições, usando como instrumento os elementos que fazem parte do universo fotográfico.<br>

            a) INCORRETA. Os jogos de "luz e sombra" fazem parte da linguagem fotográfica, mas não foram uma "inovação" ou ressignificação para os surrealistas.<br>

            b) INCORRETA. Não havia também uma crítica direta à arte realista. Além disso, as fotomontagens necessitavam do emprego de uma técnica artística para sua realização.<br>

            No caso das fotomontagens, não se utilizava a câmera fotográfica, mas sim o material sensível e o laboratório onde as fotos eram reveladas. Lá, eles fragmentavam as imagens, experimentando e criando trabalhos sem a preocupação com aspectos técnicos como a nitidez e o contorno.<br>

            d) INCORRETA. A ideia dessa rayografia também não era a de "abstração radical", buscava-se um "distanciamento da representação figurativa", como o próprio texto evidencia.<br>

            e) INCORRETA. Esse "distanciamento da representação figurativa" a que o texto se refere, está mais relacionado à representação fotográfica propriamente dita. No caso da fotomontagem de Man Ray, ele até sugere "formas humanas", mas não como em uma fotografia tradicional.<br>
          </p>
        </mat-expansion-panel>
      </mat-card-actions>
    </mat-card>
  </div>
</mat-tab>
  <mat-tab label="Vídeo aulas">
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="videos"
        style="margin-left: auto; margin-top: auto;">
        <mat-card-header> </mat-card-header>

        <mat-card-content>
          <div align="center">
            <iframe
              width="80%"
              height="700"
              src="https://www.youtube.com/embed/SkS2xg8NYKk"
              title="YouTube video player"
              frameborder="1"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </mat-card-content>
        <mat-card-content>
          <div align="center">
            <iframe
              width="80%"
              height="700"
              src="https://www.youtube.com/embed/yMrBsIdPyMo"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>
