<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Conteúdo">
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Vidas secas</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            Graciliano Ramos é o autor de Vidas secas, clássico romance
            modernista da segunda geração publicado em 1938. O enredo traz a
            história de uma família de retirantes nordestinos: Sinha Vitória,
            Bibiano, os dois filhos e a cachorra Baleia.
          </p>
          <p>
            Nessa narrativa, com linguagem regionalista e senso sociológico, o
            autor trata dos problemas dos personagens e visita o ponto de vista
            de cada um — inclusive, tem um capítulo narrado do ponto de vista de
            Baleia. Outros romances de Graciliano mantêm a mesma qualidade de
            Vidas secas, como São Bernardo e Angústia. Da mesma Geração de 30,
            vale a pena conhecer também as obras de José Lins do Rego, Jorge
            Amado e Erico Verissimo.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>A hora da estrela</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            Em A hora da estrela (1977), obra que já foi adaptada para o cinema,
            Clarice Lispector dá voz a um narrador, Rodrigo S. M., que conta a
            história de Macabéa, uma alagoana que foi para o Rio de Janeiro
            depois da morte da tia, em busca de emprego e de melhores condições
            de vida.
          </p>
          <p>
            Macabéa era uma moça simples, ingênua, que se formou em datilografia
            e trabalhava em um escritório. Vivia cheia de sonhos, até conhecer
            seu namorado, Olímpio, que a troca por sua colega de trabalho.
          </p>
          <p>
            A protagonista vai, então, consultar uma cartomante, que lhe prevê
            uma vida maravilhosa. Essa é a grande ironia da obra, já que Macabéa
            é atropelada ao sair da casa da cartomante. Porém, ao longo do
            texto, a autora trata de temas filosóficos e existenciais. Conhecer
            a obra de Clarice é imprescindível para todos os estudantes. A
            autora é conhecida por desenvolver o romance psicológico e pela
            epifania de seus contos, como os clássicos Laços de família,
            Felicidade clandestina e Amor.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title
            >Quarto de despejo: diário de uma favelada</mat-card-title
          >
        </mat-card-header>

        <mat-card-content>
          <p>
            Carolina de Jesus é a autora de Quarto de despejo. Trata-se das
            memórias de uma escritora negra e favelada, que estudou somente até
            o segundo ano do ensino fundamental. Carolina era catadora de
            papéis, e era nesse material que ela rascunhava seu diário, que foi
            publicado em 1960 e ganhou tradução em mais de 14 idiomas.
          </p>
          <p>
            Ali estavam os registros da comunidade em que vivia, com suas dores,
            aflições e necessidades. A linguagem é objetiva, direta e, acima de
            tudo, rica por mostrar as marcas de oralidade.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Contos de Machado de Assis</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            Entre os livros para ler para o Enem, esse talvez seja o do autor
            brasileiro mais famoso da História. Os contos de Machado de Assis,
            assim como romances e crônicas, são reconhecidos internacionalmente
            pelos seus recursos linguísticos, pela ironia com que trabalha os
            temas e pela riqueza e profundidade das personagens.
          </p>
          <p>
            Podemos destacar os contos: <br />* Missa do Galo; <br />* A
            cartomante; <br />* Uns braços; <br />* Conto de escola; <br />* A
            carteira. <br />Não deixe de ler também alguns dos romances de
            Machado, como Dom Casmurro e Memórias póstumas de Brás Cubas.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Literatura</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            “Para que escrevo? E eu sei? Sei não. Sim, é verdade, às vezes
            também penso que eu não sou eu, pareço pertencer a uma galáxia
            longínqua de tão estranho que sou de mim. Sou eu? Espanto-me com o
            meu encontro.” -Clarice Lispector.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
            class="mat-button"
            mat-raised-button
            color="accent"
            routerLink="/materia/matematica"
          >
            Comece já
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Exercícios">Content 2</mat-tab>
  <mat-tab label="Vídeo aulas"
    ><div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="videos">
        <mat-card-header> </mat-card-header>

        <mat-card-content>
          <div align="center">
            <iframe width="80%" height="700" src="https://www.youtube.com/embed/1SUpePmlxnE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </mat-card-content>
        <mat-card-content>
          <div align="center">
            <iframe width="80%" height="700" src="https://www.youtube.com/embed/mEjdc76a-lg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </mat-card-content>
        <mat-card-content>
          <div align="center">
            <iframe width="80%" height="700" src="https://www.youtube.com/embed/CQQQygJPcLo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </mat-card-content>
        <mat-card-content>
          <div align="center">
            <iframe width="80%" height="700" src="https://www.youtube.com/embed/41vuYScVVKw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>
