<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Conteúdo">
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Ecologia</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            Ecologia é uma ciência complexa que nos permite entender como os
            seres vivos relacionam-se uns com os outros e com o ambiente em que
            vivem.
          </p>
          <p>
            Ao estudar ecologia, podemos compreender melhor a importância de
            cada espécie do planeta e também como o ambiente influencia na
            distribuição e na abundância das diferentes espécies. Ao entendermos
            essas relações, fica mais claro também a importância de preservamos
            o meio ambiente.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Genética</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            A genética é a parte da ciência que estuda a hereditariedade, a
            estrutura e função dos genes e a variação dos seres vivos. É através
            da genética que buscamos compreender os mecanismos e leis de
            transmissão das características através das gerações.
          </p>
          <p>
            Os primeiros estudos da genética na ciência moderna iniciaram-se com
            o monge austríaco Gregor Mendel, na década de 1860. Realizando
            cruzamentos entre linhagens de ervilhas, ele observou a existência
            de “fatores” distintos que eram transmitidos dos genitores para a
            prole.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Fisiologia</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            A fisiologia é a parte da biologia responsável por compreender o
            funcionamento do corpo e analisar os diversos processos físicos e
            químicos que nele acontecem. Como sabemos, o corpo dos seres vivos
            apresenta vários processos complexos que garantem seu funcionamento
            adequado, tratando-se de uma máquina completamente perfeita.
          </p>
          <p>
            Vale destacar que, apesar de ao falarmos de fisiologia
            lembrarmo-nos, normalmente, da animal e humana, a fisiologia vegetal
            é também importante. Como o nome sugere, a ela é responsável por
            compreender todos os processos que ocorrem no interior do corpo das
            plantas.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Evolução</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            Evolução é o processo de mudança e adaptação dos seres vivos às
            modificações ocorridas no meio ambiente com passar do tempo. A ideia
            de evolução como recurso biológico começou a ser discutida no século
            XVIII, pois até então acreditava-se na teoria do criacionismo. Esta
            dizia que um ser divino tinha criado todas as espécies e as manteve
            imutáveis.
          </p>
          <p>
            Entretanto, na segunda metade do século XIX, entrou em cena a teoria
            de que todos os organismos dividem o mesmo ancestral no mundo, sendo
            o ciclo evolutivo uma junção de transformações lentas rumo às novas
            variedades de espécies.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Biologia</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            “Biologia é o estudo de coisas complicadas que têm a aparência de
            terem sido projetadas com um propósito.” — Richard Dawkins
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
            class="mat-button"
            mat-raised-button
            color="accent"
            routerLink="/materia/biologia"
          >
            Comece já
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Exercícios"> <div appearance="fill" style="margin-top: 10px; width: 100%;" class="content">
    <mat-card class="mat-elevation-z4" >
      <mat-card-header>
        <mat-card-title>Corredores ecológicos</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Corredores ecológicos visam mitigar os efeitos da fragmentação dos ecossistemas promovendo a ligação entre diferentes áreas, com o objetivo de proporcionar o deslocamento de animais, a dispersão de sementes e o aumento da cobertura vegetal. São instituídos com base em informações como estudos sobre o deslocamento de espécies, sua área de vida (área necessária para o suprimento de suas necessidades vitais e reprodutivas) e a distribuição de suas populações.
        </p>
        <p>
          Nessa estratégia, a recuperação da biodiversidade é efetiva porque:<br>

          a) propicia o fluxo gênico.<br>
          b) intensifica o manejo de espécies.<br>
          c) amplia o processo de ocupação humana.<br>
          d) aumenta o número de indivíduos nas populações.<br>
          e) favorece a formação de ilhas de proteção integral.<br>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title style="align-items: center; justify-content: center;">
              Resposta
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            A resposta correta é a opção a) propicia o fluxo gênico.

            O fluxo gênico corresponde ao aumento da diversidade sob o ponto de vista genético. Dessa forma, os corredores ecológicos permitem o deslocamento dos animais e a dispersão de sementes.<br>

            Isso resulta no aumento da cobertura vegetal que, por sua vez, faz com que os seres vivos possam se intercruzar.<br>

            As demais alternativas estão erradas pois:<br>

            b) O manejo de espécies tem como característica controlar possíveis danos e consequências negativas causados para a sociedade e até mesmo para o nicho ecológico.<br>

            c) O processo de ocupação humana não está relacionado aos corredores ecológicos.<br>

            d) A estratégia apresentada no enunciado não faz relação com o aumento do número de indivíduos.<br>

            e) Os corredores ecológicos não favorecem a formação de ilhas de proteção integral.<br>
          </p>

        </mat-expansion-panel>
      </mat-card-actions>
    </mat-card>
    <mat-card class="mat-elevation-z4" style="padding:16px; margin-top: 20px;" >
      <mat-card-header>
        <mat-card-title>Ciclo de vida dos insetos</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>
          Insetos podem apresentar três tipos de desenvolvimento. Um deles, a holometabolia (desenvolvimento completo), é constituído pelas fases de ovo, larva, pupa e adulto sexualmente maduro, que ocupam diversos hábitats. Os insetos com holometabolia pertencem às ordens mais numerosas em termos de espécies conhecidas. Esse tipo de desenvolvimento está relacionado a um maior número de espécies em razão da:<br>
        </p>
        <p>
          a) proteção na fase de pupa, favorecendo a sobrevivência de adultos férteis.<br>
          b) produção de muitos ovos, larvas e pupas, aumentando o número de adultos.<br>
          c) exploração de diferentes nichos, evitando a competição entre as fases da vida.<br>
          d) ingestão de alimentos em todas as fases de vida, garantindo o surgimentos do adulto.<br>
          e) utilização do mesmo alimento em todas as fases, otimizando a nutrição do organismo.<br>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title style="align-items: center; justify-content: center;">
              Resposta
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            A respostas correta é a opção c) exploração de diferentes nichos, evitando a competição entre as fases da vida.<br>

            Cada fase de desenvolvimento apresenta um habitat e um nicho diferentes, o que impede a competição entre as espécies, ou seja, a competição intraespecífica. Dessa forma, é aumentada a efetividade do animal dentro de seu ambiente, bem como sua adaptação ao meio.<br>

            As demais alternativas destacam etapas do desenvolvimento que existem, porém não se relacionam com o aumento do número de espécies e nem com a justificativa apresentada.<br>
          </p>
        </mat-expansion-panel>
      </mat-card-actions>
    </mat-card>
    <mat-card class="mat-elevation-z4" style="padding:16px; margin-top: 20px;" >
      <mat-card-header>
        <mat-card-title>Fisiologia</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Para serem absorvidos pelas células do intestino humano, os lipídios ingeridos precisam ser primeiramente emulsificados. Nessa etapa da digestão, torna-se necessária a ação dos ácidos biliares, visto que os lipídios apresentam uma natureza apolar e são insolúveis em água.
          <br>
          Esses ácidos atuam no processo de modo a:
        </p>

        <p>
          a) hidrolisar os lipídios.<br>
          b) agir como detergentes.<br>
          c) tornar os lipídios anfifílicos.<br>
          d) promover a secreção de lipases.<br>
          e) estimular o trânsito intestinal dos lipídios.<br>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title style="align-items: center; justify-content: center;">
              Resposta
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            A resposta correta é a opção b) agir como detergentes.
           <br>
            Os ácidos biliares tem como função separar e facilitar a digestão. Eles atuam como detergentes nas gorduras (lipídios).
          </p>
        </mat-expansion-panel>
      </mat-card-actions>
    </mat-card>
  </div>
</mat-tab>
  <mat-tab label="Vídeo aulas">
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="videos"
        style="margin-left: auto; margin-top: auto;">
        <mat-card-header> </mat-card-header>

        <mat-card-content>
          <div align="center">
            <iframe width="80%" height="700" src="https://www.youtube.com/embed/tUtj4HIg4Wo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </mat-card-content>
        <mat-card-content>
          <div align="center">
            <iframe width="80%" height="700" src="https://www.youtube.com/embed/Z5cll6n3hHw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </mat-card-content>
        <mat-card-content>
          <div align="center">
            <iframe width="80%" height="700" src="https://www.youtube.com/embed/zrf6_UJlK-0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </mat-card-content>
        <mat-card-content>
          <div align="center">
            <iframe width="80%" height="700" src="https://www.youtube.com/embed/piRSx5SvYv8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>

