<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Conteúdo">
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Ecologia</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            Ecologia é uma ciência complexa que nos permite entender como os
            seres vivos relacionam-se uns com os outros e com o ambiente em que
            vivem.
          </p>
          <p>
            Ao estudar ecologia, podemos compreender melhor a importância de
            cada espécie do planeta e também como o ambiente influencia na
            distribuição e na abundância das diferentes espécies. Ao entendermos
            essas relações, fica mais claro também a importância de preservamos
            o meio ambiente.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Genética</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            A genética é a parte da ciência que estuda a hereditariedade, a
            estrutura e função dos genes e a variação dos seres vivos. É através
            da genética que buscamos compreender os mecanismos e leis de
            transmissão das características através das gerações.
          </p>
          <p>
            Os primeiros estudos da genética na ciência moderna iniciaram-se com
            o monge austríaco Gregor Mendel, na década de 1860. Realizando
            cruzamentos entre linhagens de ervilhas, ele observou a existência
            de “fatores” distintos que eram transmitidos dos genitores para a
            prole.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Fisiologia</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            A fisiologia é a parte da biologia responsável por compreender o
            funcionamento do corpo e analisar os diversos processos físicos e
            químicos que nele acontecem. Como sabemos, o corpo dos seres vivos
            apresenta vários processos complexos que garantem seu funcionamento
            adequado, tratando-se de uma máquina completamente perfeita.
          </p>
          <p>
            Vale destacar que, apesar de ao falarmos de fisiologia
            lembrarmo-nos, normalmente, da animal e humana, a fisiologia vegetal
            é também importante. Como o nome sugere, a ela é responsável por
            compreender todos os processos que ocorrem no interior do corpo das
            plantas.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Evolução</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            Evolução é o processo de mudança e adaptação dos seres vivos às
            modificações ocorridas no meio ambiente com passar do tempo. A ideia
            de evolução como recurso biológico começou a ser discutida no século
            XVIII, pois até então acreditava-se na teoria do criacionismo. Esta
            dizia que um ser divino tinha criado todas as espécies e as manteve
            imutáveis.
          </p>
          <p>
            Entretanto, na segunda metade do século XIX, entrou em cena a teoria
            de que todos os organismos dividem o mesmo ancestral no mundo, sendo
            o ciclo evolutivo uma junção de transformações lentas rumo às novas
            variedades de espécies.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Biologia</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            “Biologia é o estudo de coisas complicadas que têm a aparência de
            terem sido projetadas com um propósito.” — Richard Dawkins
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
            class="mat-button"
            mat-raised-button
            color="accent"
            routerLink="/materia/matematica"
          >
            Comece já
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Exercícios"> Content 2 </mat-tab>
  <mat-tab label="Vídeo aulas">
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="videos"
        style="margin-left: auto; margin-top: auto;">
        <mat-card-header> </mat-card-header>

        <mat-card-content>
          <div align="center">
            <iframe width="80%" height="700" src="https://www.youtube.com/embed/tUtj4HIg4Wo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </mat-card-content>
        <mat-card-content>
          <div align="center">
            <iframe width="80%" height="700" src="https://www.youtube.com/embed/Z5cll6n3hHw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </mat-card-content>
        <mat-card-content>
          <div align="center">
            <iframe width="80%" height="700" src="https://www.youtube.com/embed/zrf6_UJlK-0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </mat-card-content>
        <mat-card-content>
          <div align="center">
            <iframe width="80%" height="700" src="https://www.youtube.com/embed/piRSx5SvYv8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>

