<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Conteúdo">
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Tipos de gramática</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            Existem diferentes tipos de gramática. Isso não quer dizer que as
            regras mudem de um para outro, ok? Mas cada uma tem uma abordagem e
            uma função diferente.
          </p>
          <p>
            A questão é que esse é um assunto tão rico e amplo que divide a
            gramática em tipos, ajuda a melhorar o enfoque e a abordagem na hora
            de aprendermos as regras e a forma de utilização correta da nossa
            língua.
          </p>
          <p>
            Os quatro tipos principais são: a gramática normativa, a descritiva,
            a histórica e a comparativa. Existem alguns autores que também
            consideram a semântica, mas de modo geral é essa a classificação
            mais utilizada. Vamos conhecer cada um dos tipos de gramática?
          </p>
          <p>
            <br /><strong>Gramática histórica</strong><br />
            A gramática histórica é aquela responsável por estudar os diferentes
            acontecimentos da língua, avaliando como ela se modificou e evoluiu
            com o tempo, desde o seu surgimento até os dias atuais. Em resumo,
            podemos dizer que ela estuda a linha do tempo de uma língua. Ou
            seja, na prática, a gramática histórica estuda a história específica
            de uma língua e as suas diferentes fases evolutivas. Ela surgiu a
            partir da Filologia, que é a comparação de textos de épocas
            diferentes e a decifração de línguas arcaicas, feita para conhecer a
            história e os costumes de um povo.
          </p>
          <p>
            <br /><strong>Gramática normativa</strong><br />
            Por outro lado, existe também a gramática normativa. É ela que
            define as regras da gramática para cada língua, usando como base as
            normas tradicionais e outras fontes prestigiadas, como obras
            literárias consagradas ou textos científicos. Tudo o que é diferente
            da norma culta e todas as variações linguísticas são considerados
            erros pela gramática normativa, até que passem a incorporar os
            dicionários da língua e sejam acrescentados às normas de gramática
            vigente. Dentro da gramática normativa estão incluídos os estudos
            da:

            <br />fonologia — usa como base a ortoépia (pronúncia correta),
            prosódia (definição da tonicidade) e ortografia (escrita correta);
            <br />morfologia — trata da forma das palavras e classes das
            palavras e das classes gramaticais; <br />sintaxe — avalia a relação
            entre as palavras em orações e períodos, levando em conta regras de
            concordância, regência e colocação pronominal.
          </p>
          <p>
            <br /><strong>Gramática comparativa</strong><br />
            A gramática comparativa é aquela que faz paralelos entre as
            diferentes línguas de uma mesma família. No nosso caso, a língua
            portuguesa é comparada com outras línguas românicas, também
            conhecidas como línguas neolatinas ou latinas, que vieram a partir
            da evolução do latim vulgar. Entre elas estão:

            <br />-português; <br />-espanhol (ou castelhano); <br />-italiano;
            <br />-francês; <br />-romeno.
          </p>
          <p>
            <br /><strong> Gramática descritiva</strong><br />
            Já a gramática descritiva se dedica a observar e descrever o que
            percebe na língua utilizada pelos diferentes grupos de falantes. Ela
            não dita normas nem define padrões para julgar o que observa como
            certo ou errado, mas documenta o uso da língua. Por isso dizemos que
            a gramática descritiva não tem preconceito linguístico.
          </p>
          <p>
            <br /><strong>Divisões da gramática</strong><br />
            Por ser um assunto amplo, a gramática é estudada de forma dividida,
            avaliando seus diferentes aspectos. Veja os principais e suas
            características!
          </p>
          <p>
            <br /><strong> Sintaxe</strong><br />
            A sintaxe estuda a forma com que as palavras se comportam dentro das
            frases e também analisa como as frases estão colocadas dentro de
            diferentes períodos, analisando seu papel na comunicação. Para
            aprender sobre sintaxe, você deve estudar as diferenças entre frase,
            oração e período e conhecer as várias funções sintáticas como
            sujeito, predicado, objeto direto e indireto, complemento verbal e
            nominal, assim por diante
          </p>
          <p>
            <br /><strong> Morfologia</strong><br />
            Já a morfologia estuda a forma como cada palavra é estruturada,
            entendendo como ela foi formada e fazendo sua classificação. Ela é
            diferente da sintaxe porque não vê o contexto em que a palavra está
            sendo usada, mas apenas a avalia de forma isolada. Ela também faz a
            identificação de cada palavra de acordo com sua classe gramatical,
            dizendo, por exemplo, se ela é um substantivo, artigo, verbo,
            conjunção etc. São alguns dos pontos estudados na morfologia:

            <br />-a raiz e o radical da palavra; <br />-as vogais e as
            consoantes de ligação; <br />-os prefixos e sufixos etc.
          </p>
          <p>
            <br /><strong> Fonética</strong><br />
            Já a fonética estuda os aspectos acústicos dos sons no ato da fala.
            Ela procura entender e explicar a produção, interjeição, articulação
            e variação desses sons. Ela é dividida em duas áreas:
            <br />
            - a fonética articulatória, que estuda os locais em que o som é
            produzido dentro do nosso aparelho fonador (articulação,
            ressonância, fonação, respiração); <br />
            - a fonética acústica, que diz respeito aos sons: sua amplitude,
            frequência, duração e afins.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>

    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Português</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            “O mundo é grande e cabe nesta janela sobre o mar. O mar é grande e
            cabe na cama e no colchão de amar. O amor é grande e cabe no breve
            espaço de beijar.” -Carlos Drummond de Andrade.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
            class="mat-button"
            mat-raised-button
            color="accent"
            routerLink="/materia/matematica"
          >
            Comece já
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Exercícios"> </mat-tab>
  <mat-tab label="Vídeo aulas">
<div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="videos"
        style="margin-left: auto; margin-top: auto;">
        <mat-card-header> </mat-card-header>

        <mat-card-content>
          <div align="center">
            <iframe width="80%" height="700" src="https://www.youtube.com/embed/4ZJnTqTk4_Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </mat-card-content>
        <mat-card-content>
          <div align="center">
            <iframe width="80%" height="700" src="https://www.youtube.com/embed/iZ7Ryffdoc0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </mat-card-content>
        <mat-card-content>
          <div align="center">
            <iframe width="80%" height="700" src="https://www.youtube.com/embed/ISPEMEtMprA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>



