li {
    list-style-type: none;
    cursor: pointer;
    margin: 15px 0;
}

ol {
    padding: 0;
}

li:hover{
    border: 2px solid blue
}

body {
  padding: 16px;
  background:hsla(205, 46%, 30%, 1);
  background: linear-gradient(90deg, hsla(205, 46%, 30%, 1) 0%, hsla(260, 29%, 36%, 1)100%);
}

