<body>
    <div class="container" style="margin-top: 30px;">
            <mat-card>
                <div class="d-flex justify-content-between p-3">
                    <div class="quiz-header">
                        <h2 style="font-family: Arial, Helvetica, sans-serif;">Simulado geral</h2>
                        <span style="font-style: italic;">Bem vindo {{nome}}</span>
                    </div>
                </div>
                <mat-divider></mat-divider>

                <ng-container *ngIf="!quizCompleto">
                    <div class="d-flex justify-content-around py-3">
                        <div class="score">
                            <h5>{{pontos}} pontos</h5>
                        </div>

                        <div class="question-remain">
                            <span style="font-style: italic;">Pergunta {{currentQuestion+1}} de {{perguntasLista.length}}</span>
                        </div>

                        <div class="timer">
                            {{timer}} segundos
                        </div>
                    </div>
                    <div class="progress mb-3">
                        <div class="progress-bar progress-bar-striped " role="progressbar" [ngStyle]="{'width':progresso+'%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="perguntas">

                        <h3>{{perguntasLista[currentQuestion]?.perguntasTexto}}</h3>

                    </div>
                    <div class="opcoes">
                       <mat-card-content>
                           <ol *ngFor="let opcao of perguntasLista[currentQuestion].opcoes">
                           <li (click)="resposta(currentQuestion+1, opcao)">
                               <mat-card appChangeBg [eCorreta]="opcao.correta">{{opcao.texto}}</mat-card>
                           </li>
                          </ol>
                       </mat-card-content>
                    </div>
                    <button [disabled]="currentQuestion===0"  mat-icon-button (click)="perguntaAnterior()">
                        <mat-icon>keyboard_arrow_left</mat-icon>
                    </button>
                    <span></span>
                    <button mat-icon-button (click)=" resetarQuiz()" >
                        <mat-icon>refresh</mat-icon>
                    </button>
                    <span ></span>
                    <button mat-icon-button (click)="proximaPergunta()">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </button>
                </ng-container>

                <ng-container *ngIf="quizCompleto">
                    <div class="row d-flex justify-content-between">
                        <img style="width: 50%" class="img-fluid col-sm-12 mx-auto" src="https://image.freepik.com/vetores-gratis/ilustracao-do-conceito-de-rosto-sorridente_114360-1109.jpg">
                        <div class="result text-center col-md-6 col-sm-12">
                            <h1 style="margin-top: 15px;">Parabéns <br> Você completou o simulado <br> Abaixo o seu resultado</h1>
                            <h2>Quantidade de perguntas: {{perguntasLista.length}}</h2>
                            <h2>Acertos: {{currentAnswer}}</h2>
                            <h2>Erros: {{respostaIncorreta}}</h2>
                            <h2>Pontuação: {{pontos}}</h2>
                        </div>
                    </div>
                </ng-container>
            </mat-card>
    </div>
     </body>

