<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Conteúdo">
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Escrita e ortografia</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            Aprender espanhol pode não ser difícil, pois é uma língua muito
            parecida com o português. Exatamente por isso, muitos candidatos
            tendem a optar por ela, acreditando que seja mais fácil interpretar
            a prova.
          </p>

          <p>
            Basicamente, o alfabeto espanhol se utiliza do mesmo alfabeto latino
            que o português, já que as duas línguas são irmãs, vindas do latim.
            Mas há diferenças, como os dígrafos CH e LL, que possuem valores
            fonéticos muito específicos. Inclusive, até o ano de 1994, eles eram
            ordenados de maneira separada das letras C e L. Além deles, é comum
            a presença do til no N (Ñ), bastante típico da Língua Espanhola.
            Outra particularidade do espanhol é a presença do ponto de
            interrogação invertido (¿), no início de uma pergunta. Esse tipo de
            pontuação serve, principalmente, para tornar a leitura mais fluida,
            indicando ao leitor que virá, em breve, uma interrogação.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Artigos</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            Como falamos anteriormente, é muito comum que a opção pela língua
            espanhola na prova do Enem e de outros vestibulares aconteça devido
            à sua semelhança com o português. Isso acontece porque a maioria das
            pessoas que não possui domínio de uma segunda língua, acabam
            pensando por associação à sua língua materna.
          </p>
          <p>
            Então, se em português temos os artigos definidos “o”, “a”, “os”,
            “as”, as pessoas pensam, automaticamente, na inclusão do “l” na
            frente, criando “lo”, “la”, “los”, “las”. Mas é exatamente aí que
            mora o perigo. “Lo” é um artigo neutro, que não está presente na
            Língua Espanhola e tem como objetivo substantivar adjetivos ou
            advérbios. Nesse caso, o artigo definido masculino correto, em
            espanhol, é “el”. Então, na frase “o livro está na mesa”, a tradução
            para o espanhol seria “el libro está em la mesa”.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Substantivos</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            Assim como no português, os substantivos têm dois gêneros (feminino
            e masculino). Geralmente, as palavras terminadas em “-o” tendem ao
            gênero masculino e aquelas que terminam em “-a” são femininas. Por
            exemplo: niño (menino), niña (menina). Já as palavras que terminam
            em “-or” são masculinas, sendo que o correspondente feminino se dá
            com a adição de um “-a” no final. Por exemplo: señor (senhor),
            señora (senhora). As palavras em espanhol terminadas em “-tor” e
            “-dor”, a transformação em substantivo feminino ocorre com a
            substituição por “-triz”. Assim, actor (ator) vira actriz (atriz) e
            emperador (imperador) vira emperatriz (imperatriz).
          </p>
          <p>
            Há ainda algumas exceções que não estão sujeitas às regras fixas
            apresentadas anteriormente, como hombre (homem) e mujer (mulher), ou
            caballo (cavalo) e yegua (égua), por exemplo. Além disso,
            terminações “-esa”, “-isa” e “-ina” indicam o gênero feminino, como
            as seguintes: duque-duquesa, poeta-poetisa, rey-reina. Bem
            semelhante ao nosso português, não é?
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Adjetivos</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            A aplicação de adjetivos no espanhol também ocorre de maneira
            semelhante à língua portuguesa. As variações de plural funcionam do
            mesmo modo que os substantivos, além das possíveis variações de
            gênero. Quanto à posição, podem vir antes ou depois do substantivo.
            Quando ele aparece após o substantivo, o chamamos de adjetivo
            especificativo. Quando aparece antes, é um adjetivo explicativo,
            mostrando um significado em relação ao substantivo posterior.
          </p>
          <p>
            Assim como no português, esse posicionamento pode alterar o
            significado de alguns adjetivos. Por exemplo: - Un simple hombre (um
            simples homem, no sentido de ser humano). - Un hombre simple (um
            homem simples, humilde).
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Pronomes</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            Em espanhol, os pronomes podem aparecer da seguinte forma: Pronomes
            pessoais

            <br />
            Yo (eu) <br />
            <br />Tú (você/tu)<br />
            <br />Él/Ella/Usted (ele/ela/senhor, senhora ou você)<br />
            <br />Nosotros/Nosotras (nós)<br />
            <br />Vosotros/Vosotras (vocês, vós)<br />
            <br />Ellos/Ellas/Ustedes (eles/elas/senhores, senhoras, vocês)<br />
          </p>
          <p>
            Pronomes demonstrativos
            <br />Éste/Ésta (este/esta)<br />
            <br />
            Éstos/Éstas (estes/estas)<br />
            <br />Ése/Ésa (esse/essa)<br />
            <br />
            Ésos/Ésas (esses/essas)<br />
            <br />Aquel/Aquella (aquele/aquela)<br />
            <br />Aquellos/Aquellas (aqueles/aquelas)<br />
            <br />Pronomes interrogativos/exclamativos<br />

            <br />¡Cómo! (Como!)<br />
            <br />¡Qué! (Que!)<br />
            <br />¡Cuál! (Qual!)<br />
            <br />¡Quién! (Quem!)<br />
            <br />¡Cuánto! (Quanto!)<br />
            <br />¡Dónde! (Onde!)<br />
            Nesse último caso, a diferença dos interrogativos para os
            exclamativos é apenas a intenção do uso, variando, então, o ponto de
            exclamação ou interrogação.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Espanhol</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            "El que quiere interesar a los demás tiene que provocarlos"
            -Salvador Dali.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
            class="mat-button"
            mat-raised-button
            color="accent"
            routerLink="/materia/matematica"
          >
            Comece já
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Exercícios"></mat-tab>

  <mat-tab label="Vídeo aulas">
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="videos">
        <mat-card-header> </mat-card-header>

        <mat-card-content>
          <div align="center">
            <iframe width="80%" height="700" src="https://www.youtube.com/embed/LlzhuO8Mg5Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </mat-card-content>
        <mat-card-content>
          <div align="center">
            <iframe width="80%" height="700" src="https://www.youtube.com/embed/GPdaxDhuYLI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </mat-card-content>
        <mat-card-content>
          <div align="center">
            <iframe width="80%" height="700" src="https://www.youtube.com/embed/GKykw4Yw9Cs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>


