<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Conteúdo">
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>INTRODUÇÃO</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            O inglês é a principal segunda língua do mundo, ou seja, o idioma
            que os estrangeiros mais aprendem. Além disso, ele é a língua
            oficial de países altamente desenvolvidos, como Estados Unidos,
            Canadá e Inglaterra. Não é à toa que esse idioma se tornou tão
            relevante para a sociedade globalizada em que vivemos, não é?
            Negócios, debates, cultura, arte, tudo acontece em inglês. Se uma
            empresa japonesa está conversando com outra companhia sueca, por
            exemplo, o inglês é língua que conecta os dois grupos e que
            possibilita uma negociação ou parceria.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>O inglês básico </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            <!-- desculpa ai fiquei com preguiça e fiz desse jeito, peço perdão -->
            <br /><strong>Preposições em inglês</strong><br />
            <br />As preposições têm pouquíssimas regras, mas são um dos
            assuntos mais difíceis do inglês. Isso porque escolher qual
            preposição usar em cada momento é, muitas vezes, uma questão de
            intuição — ou você sabe, ou não sabe. O fundamental, então, é
            treinar muito e ficar atento a quaisquer aparições delas para
            aprender a usá-las sem erro. Elas têm o papel de unir os termos de
            uma oração (de, sobre, para…), mas, no inglês, são muito diferentes
            das que usamos em português. Isso significa que é complicado
            estabelecer um significado para cada uma delas, pois dependem quase
            que totalmente do contexto. Somente o at tem quase vinte
            significados diferentes! Veja:<br />
            <br />I’m at my friend’s house. / Estou na casa do meu amigo.<br />
            <br />I’ll call you at noon. / Ligo pra você ao meio-dia.<br />

            <br />A boa notícia é que, com muita leitura e atenção, as
            preposições em inglês virão à sua mente de forma mais natural,
            fazendo com que você consiga decidir qual usar. Fique muito atento
            também à posição em que elas aparecem nas frases, pois podem vir
            tanto no início quanto no meio ou no fim. Veja alguns exemplos de
            preposições comuns: <br />I love listening to music. / Eu amo
            escutar música.<br />
            <br />After I finished my homework, I went to bed. / Depois que
            terminei meu dever de casa, fui para a cama.<br />
            <br />I still haven’t found what I’m looking for. / Ainda não
            encontrei o que eu estou procurando.<br />
          </p>
          <br /><strong>Saudações em inglês</strong> <br />
          <br />Aprender as saudações em inglês é muito importante, pois você
          vai vê-las o tempo todo. Além disso, ao conversar com um nativo ou com
          outro estrangeiro que não fale português, elas serão muito úteis para
          o diálogo. Confira: <br />
          <br />Hello! / Olá!<br />
          <br />Goodbye! ou Bye! / Tchau! ou Adeus!<br />
          <br />See you soon! / Até logo!<br />
          <br />Nice to meet you! ou It’s a pleasure to meet you! / É um prazer
          conhecer você!<br />
          <br />Nice to meet you too! ou The pleasure is mine! / O prazer é
          meu!<br />
          <br />Good morning! / Bom dia!<br />
          <br />Good afternoon! / Boa tarde!<br />
          <br />Good evening! / Boa noite! quando você encontra a pessoa, como
          forma de dizer “oi”<br />
          <br />Good night! / Boa noite! ao despedir-se ou antes de ir dormir,
          como forma de dizer “tchau”<br />
          <br />See you later / Vejo você mais tarde (não leve ao pé da letra,
          pois esse é apenas outro jeito de dizer “tchau” e não necessariamente
          uma promessa ou certeza de que você vai ver a pessoa mais tarde)<br />

          <p>
            <br /><strong> Expressões em inglês</strong><br />
            O inglês tem uma imensa variedade de expressões. Para conhecê-las e
            dominá-las, mais uma vez, o importante é ler muito e mergulhar em
            uma ampla diversidade de conteúdos em inglês. Séries de comédia e
            séries de drama, por exemplo, vão apresentar você a diferentes
            expressões, assim como músicas de vários estilos. Ao analisar uma
            expressão em inglês, não tente encontrar seu significado por meio de
            uma tradução para o português, pois o resultado vai estar bem
            distante do real sentido. Isso pode até funcionar com uma ou outra
            gíria ou expressão, mas, mesmo assim, não é uma forma interessante
            de aprimorar sua compreensão do idioma. Separamos a seguir algumas
            expressões bastante comuns da língua inglesa como forma de
            introdução ao assunto! Veja:

            <br />What’s up?<br />
            <br />Forma informal de falar E aí? ou Tudo bem? Para responder,
            você pode apenas repetir What’s up?. Há, ainda, o uso para perguntar
            o que está acontecendo com algo ou alguém.

            <br />
            “Hey, dude, what’s up?” “Hi, what’s up?” / “E aí, cara, tudo bem?”
            “Oi, tudo bem?”<br />
            <br />What’s up with your friend? She seems upset. / O que há com a
            sua amiga? Ela parece chateada. I hear you Essa é uma expressão
            perfeita para demonstrar o quanto a tradução literal pode ser falha.
            I hear you, traduzida diretamente, quer dizer “Eu escuto você”.
            Entretanto, a expressão é usada para dizer “Eu entendo você”.
            Confira um exemplo:

            <br />
            I’m kind of scared about graduating. What if I can’t get a good job?
            / Estou um pouco assustado por estar me formando. E se eu não
            conseguir um bom emprego?<br />
            I hear you. The job market is really competitive nowadays. / Eu
            entendo você. O mercado de trabalho é muito competitivo hoje em dia.
            Há uma expressão que tem um sentido semelhante, mas que é utilizada
            de uma maneira mais sarcástica — quando você já está cansado de
            saber daquele assunto. Normalmente, a frustração é direcionada ao
            tema da conversa em si, não à pessoa com quem você está falando.
            Trata-se de “Tell me about it”, que significa, basicamente, “Nem me
            fale”. Olha só:<br />

            <br />
            I’m so tired of studying all the time. I can’t wait until my finals
            are over! / Estou tão cansado de estudar o tempo todo. Mal posso
            esperar para que minhas provas finais terminem. Tell me about it.
            I’m dreaming about our summer holidays. / Nem me fale. Estou
            sonhando com as nossas férias de verão. Whatever A palavra whatever
            significa algo como “qualquer coisa”, mas funciona de outra forma
            enquanto expressão. Sozinha, o significado da expressão “Whatever”
            tem o sentido de “Deixa lá pra” ou “Ah, que seja”, demonstrando que
            o que a pessoa falou ou sugeriu tem pouca importância. Além disso,
            ela pode ser utilizada também como parte de outras expressões
            comuns. Vamos conferir?<br />

            <br />Your boyfriend told me he’s upset with you. / Seu namorado me
            falou que ele está chateado com você. Whatever. Our fight was his
            fault. / Que seja. A nossa briga foi culpa dele. We’re tired and
            have to wake up early tomorrow. Do you really think it’s a good idea
            for us to go to the party? / Estamos cansados e precisamos acordar
            cedo amanhã. Você acha mesmo que é uma boa ideia a gente ir à festa?
            Whatever. Let’s just go home. / Deixa pra lá. Vamos pra casa.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>

    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Inglês</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            “I have a dream that my four little children will one day live in a
            nation where they will not be judged by the color of their skin but
            by the content of their character.” -Martin Luther King.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
            class="mat-button"
            mat-raised-button
            color="accent"
            routerLink="/materia/matematica"
          >
            Comece já
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Exercícios"><div appearance="fill" style="margin-top: 10px; width: 100%;"  class="content">
    <mat-card class="mat-elevation-z4" >
      <mat-card-header>
        <mat-card-title>titulo</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
       pergunta 
        </p>
        <p>
        pergunta
        </p>
      </mat-card-content>
      <mat-card-actions>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title style="align-items: center; justify-content: center;">
              Resposta
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p></p>
          <p > </p>
        </mat-expansion-panel>
      </mat-card-actions>
    </mat-card>
    <mat-card class="mat-elevation-z4" style="padding:16px; margin-top: 20px;" >
      <mat-card-header>
        <mat-card-title>Titulo </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>
          Pergunta
        </p>
        <p>
          Pergunta
        </p>
      </mat-card-content>
      <mat-card-actions>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title style="align-items: center; justify-content: center;">
              Resposta
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Texto</p>
          <p>Texto</p>
        </mat-expansion-panel>
      </mat-card-actions>
    </mat-card>
  </div>
</mat-tab>

  <mat-tab label="Vídeo aulas"
    ><div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="videos">
        <mat-card-header> </mat-card-header>

        <mat-card-content>
          <div align="center">
            <iframe width="80%" height="700" src="https://www.youtube.com/embed/y6yBg-Yu81E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </mat-card-content>
        <mat-card-content>
          <div align="center">
            <iframe width="80%" height="700" src="https://www.youtube.com/embed/MSynwyaVhnQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </mat-card-content>
        <mat-card-content>
          <div align="center">
            <iframe width="80%" height="700" src="https://www.youtube.com/embed/C0gfTWOo0Dg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </mat-card-content>
        <mat-card-content>
          <div align="center">
            <iframe width="80%" height="700" src="https://www.youtube.com/embed/AKOEY9PuRfY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>

<!-- https://image.freepik.com/free-vector/math-background_23-2148147326.jpg -->
