ngb-carousel {
    max-width: 700px;
    margin: 50px auto;
}

ngb-carousel img {
    width: 120%;
    outline: none;

}

ngb-carousel {
    width: inherit;
    height: inherit;
}

.card-title{
font-size: 30px;
font-family: "Times New Roman";

}

.card-text{
font-size:  19px;
font-family: "Times New Roman";

}

.background {
    background-color: blueviolet;
    text-align: center;
    align-items: center;
  }

  .content {
    background: hsla(205, 46%, 30%, 1);
    background: linear-gradient(
      90deg,
      hsla(205, 46%, 30%, 1) 0%,
      hsla(260, 29%, 36%, 1) 100%
    );
  }
