<div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
<mat-card class="mat-elevation-z1">
<div class="card mb-3" style="max-width: 760px; max-height:760px;">
  <div class="row g-3">
    <div class="col-md-5">
      <img src="https://img.elo7.com.br/product/600x380/32831E4/almofada-bts-integrantes-da-banda-kpop-em-desenho-k-pop-bts-almofa.jpg" class="img-fluid rounded-start" style="height: 235px;">
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h5 class="card-title">Integrantes</h5>
        <p class="card-text">
        Leonardo Cardoso<br>
        Marcos sei la não sei<br>
        Ryan Pizani<br>
        Gabriel Bello<br>
        Leonardo sei la o nome dele<br>
        Henrique Melhado<br>
        Humberto sei la oq tambem
      </p>
    </div>


