<div appearance="fill" class="card" style="width: 100%" class="content">
  <mat-card class="mat-elevation-z4" style="width: 80%; height: 500px;">
  <mat-card-content >
  <div class="card-body">
      <p class="card-text" id="titulo">Quem somos?</p>
      <p class="card-text" id="texto-base">
        Somos um grupo da UCs de "Usabilidade, desenvolvimento web, mobile e jogos" e "Sistemas distribuídos e mobile" de diversos cursos de tecnologia da Universidade São Judas Tadeu, e como proposta de projeto para o semestre tivemos como desafio proposto pelos professores uma aplicação que ajudasse a minimizar os impactos que a pandemia da Covid 19 trouxe para a nossa sociedade.<br>
        Pensando na educação, uma das áreas mais impactadas pela pandemia, criamos o Eduqui, um sistema que traz conteúdos da internet de forma gratuita para estudantes que foram afetados de forma mais agressiva pela pandemia.
      </p>
      <br>
      <p class="card-text" id="titulo">Integrantes</p>
      <p class="card-text">
        Henrique Melhado<br>
        Ryan Pizani<br>
        Leonardo Aguiar<br>
        Gabriel Bello Assis<br>
        Humberto da Silva Lucas<br>
        Leonardo Cardoso<br>
        Marcos Vinicius da Silva Costa
      </p>
    </div>
  </mat-card-content>
</mat-card>
</div>

