<router-outlet name="materia"></router-outlet>
<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" >
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>Matemática</mat-card-title>
        </mat-card-header>
        <img mat-card-image src='https://image.freepik.com/free-vector/math-background_23-2148147326.jpg'>
        <mat-card-content>
          <p>
            “A matemática não mente. Mente quem faz mau uso dela.” -Albert Einstein.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="mat-button" mat-raised-button color="accent" routerLink="/materia/matematica">Comece já</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" >
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>Português</mat-card-title>
        </mat-card-header>
        <img mat-card-image src='https://image.freepik.com/free-vector/three-wooden-bookshelves-with-various-books-flat-set-web-design_74855-14536.jpg'>
        <mat-card-content>
          <p>
            "Eu não escrevo em português. Escrevo eu mesmo" -Fernando Pessoa.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="mat-button" mat-raised-button color="accent" routerLink="/materia/portugues">Comece já</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" >
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>Artes</mat-card-title>
        </mat-card-header>
        <img mat-card-image src='https://image.freepik.com/free-photo/dirty-coloured-palette-paint_23-2148660898.jpg'>
        <mat-card-content>
          <p>
            “A arte começa onde a imitação acaba”- Oscar Wilde.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="mat-button" mat-raised-button color="accent" routerLink="/materia/artes">Comece já</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" >
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>Inglês</mat-card-title>
        </mat-card-header>
        <img mat-card-image src='https://image.freepik.com/free-photo/english-british-england-language-education-concept_53876-133735.jpg'>
        <mat-card-content>
          <p>
            "Sometimes simplicity and silence say more than planned eloquence" - William Shakespeare.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="mat-button" mat-raised-button color="accent" routerLink="/materia/ingles">Comece já</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" >
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>Espanhol</mat-card-title>
        </mat-card-header>
        <img mat-card-image src='https://image.freepik.com/free-vector/spain-isometric-map-illustration_1284-8946.jpg'>
        <mat-card-content>
          <p>
            “Lea, lea, lea, viva la vida que otros soñaron” -Miguel de Unamuno
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="mat-button" mat-raised-button color="accent" routerLink="/materia/espanhol">Comece já</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%"  >
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>Geografia</mat-card-title>
        </mat-card-header>
        <img mat-card-image src='https://image.freepik.com/free-vector/earth-love-melted-cartoon_138676-2961.jpg'>
        <mat-card-content>
          <p>
            “Sem geografia, você não está em lugar nenhum” -Jimmy Buffet
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="mat-button" mat-raised-button color="accent" routerLink="/materia/geografia">Comece já</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" >
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>História</mat-card-title>
        </mat-card-header>
        <img mat-card-image src='https://image.freepik.com/free-vector/pirate-story-book_1051-554.jpg'>
        <mat-card-content>
          <p>
            "O historiador é o profeta que olha para trás" -Heinrich Heine.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="mat-button" mat-raised-button color="accent" routerLink="/materia/historia">Comece já</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" >
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>Química</mat-card-title>
        </mat-card-header>
        <img mat-card-image src='https://cdn.pixabay.com/photo/2013/07/13/09/36/test-tubes-155769_960_720.png'>
        <mat-card-content>
          <p>
            "Ainda bem que chegamos a um paradoxo. Agora, há esperança de conseguirmos algum progresso" -Niels Bohr.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="mat-button" mat-raised-button color="accent" routerLink="/materia/quimica">Comece já</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" >
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>Física</mat-card-title>
        </mat-card-header>
        <img mat-card-image src='https://image.freepik.com/free-vector/apple-fruit-cartoon-icon-illustration-food-fruit-icon-concept-isolated-flat-cartoon-style_138676-2922.jpg'>
        <!-- https://image.freepik.com/free-vector/female-scientist-with-atoms-formulas_52683-33113.jpg -->
        <mat-card-content>
          <p>
            "Nenhuma grande descoberta foi feita jamais sem um palpite ousado" -Isaac Newton.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="mat-button" mat-raised-button color="accent" routerLink="/materia/fisica">Comece já</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" >
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>Literatura</mat-card-title>
        </mat-card-header>
        <img mat-card-image src='https://image.freepik.com/free-vector/book-lover-concept-illustration_114360-1467.jpg'>
        <mat-card-content>
          <p>
            “A única pessoa livre é aquela que não tem medo do ridículo” -Luiz Fernando Veríssimo
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="mat-button" mat-raised-button color="accent" routerLink="/materia/literatura">Comece já</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" >
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>Biologia</mat-card-title>
        </mat-card-header>
        <img mat-card-image src='https://image.freepik.com/free-vector/female-scientist-with-long-hair-glasses_52683-33112.jpg'>
        <mat-card-content>
          <p>
            “Biologia é o estudo de coisas complicadas que têm a aparência de terem sido projetadas com um propósito” -Richard Dawkins
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="mat-button" mat-raised-button color="accent" routerLink="/materia/biologia">Comece já</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
<!-- https://image.freepik.com/free-vector/math-background_23-2148147326.jpg -->
