<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Conteúdo">
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>O que é Geografia?</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            A questão principal desse tópico é: o que a geografia estuda? Essa
            parece ser uma pergunta muito simples, mas faz referência a um ramo
            do conhecimento científico repleto de polêmica. Mesmo o termo
            Geografia sendo muito antigo, foi incluído ao vocabulário cotidiano,
            da forma que qualquer um poderia dar uma breve explicação sobre o
            assunto.
          </p>
          <p>
            Contudo, existe uma intensa controvérsia, em termos científicos,
            sobre a real matéria abordada por essa disciplina. Todo esse
            questionamento está implicado sobre o objeto de estudo dessa ciência
            ou, melhor dizendo, nas várias atribuições que são definidas Para
            você ficar por dentro do assunto, vamos destacar três grandes
            correntes do pensamento geográfico. Continue a leitura!
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>História da Geografia</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            Você sabe quem inventou a Geografia? Essa é uma palavra bem antiga,
            derivada da Antiguidade Clássica, remontando especificamente ao
            pensamento grego. Todavia, apesar da disseminação do seu uso naquela
            época, o seu significado gerava um conteúdo bastante variado.
            Autores gregos, como Tales e Anaximandro, ocuparam-se com a medição
            do espaço e o debate sobre o formato da Terra, contribuindo para uma
            ciência hoje chamada de Geodésia.
          </p>
          <p>
            Heródoto preocupou-se em descrever os lugares favorecendo, dessa
            maneira, a Geografia Regional. Houve também autores que apresentaram
            discussões, hoje concebidas como geográficas, mas que não eram
            consideradas assim naquela época. No geral, o conhecimento
            geográfico estava disperso. Constituía-se como Geografia: -relatos
            de viagem, com um teor mais literário; -curiosidades na forma de
            compêndios, para descrever lugares exóticos; -relatórios sobre
            estatística de órgãos administrativos; -obras sucintas, reunindo
            conhecimentos existentes a respeito dos fenômenos da natureza;
            -catálogos ordenados e atlas geográficos, tratando dos continentes e
            dos países.
          </p>
          <p>
            Não havia, de fato, uma síntese científica ou uma disciplina
            consolidada. Essa situação vai se prolongar até o final do século
            XVIII, mas isso não significa a ausência de outros nomes
            expressivos, que contribuíram de alguma maneira para o que hoje
            compreendemos como Geografia. O conhecimento geográfico será
            sistematizado somente no século XIX e as coisas não poderiam ter
            acontecido de outra maneira. Isso porque pensar nessa ciência como
            uma matéria autônoma ou particular demandava certas condições
            históricas que apenas o tempo poderia propiciar.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Importância da Geografia</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            A compreensão do espaço geográfico é determinante para o
            desenvolvimento de qualquer civilização. O significado desse termo
            pode ser concebido como uma entidade específica do real, de
            características e dinâmicas próprias. Sabendo o que é espaço
            geográfico, uma pessoa, ou toda uma sociedade, pode tomar
            consciência da interação entre homem e natureza, atribuindo um
            sentimento de pertencimento ao lugar e determinando as melhores
            estratégias de sobrevivência e adaptação ao meio.
          </p>
          <p>
            O indígena nomeia os lugares sagrados da sua terra, fenômeno chamado
            de toponímia, conservando de geração em geração as tradições e ritos
            de passagem da sua tribo por meio de uma tradição oral. De maneira
            inusitada, ele acaba fazendo Geografia. As sociedades modernas são
            compostas por complexas redes de comunicação e transporte, que
            dinamizam o fluxo de informações e pessoas o tempo inteiro, de uma
            maneira que um índio nunca imaginaria há 500 anos. As técnicas da
            cadeia produtiva foram generalizadas desde a Revolução Industrial e
            não existem mais tantas diferenças aparentes entre os modos de
            produção em todo o mundo.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>

    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Geografia</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>“Sem geografia, você não está em lugar nenhum.” -Jimmy Buffet.</p>
        </mat-card-content>
        <mat-card-actions>
          <button
            class="mat-button"
            mat-raised-button
            color="accent"
            routerLink="/materia/matematica"
          >
            Comece já
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Exercícios"></mat-tab>

  <mat-tab label="Vídeo aulas"
    ><div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="videos">
        <mat-card-header> </mat-card-header>

        <mat-card-content>
          <div align="center">
            <iframe width="80%" height="700" src="https://www.youtube.com/embed/sQewkYR4_sg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </mat-card-content>
        <mat-card-content>
          <div align="center">
            <iframe width="80%" height="700" src="https://www.youtube.com/embed/qTJ3sFhul4Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </mat-card-content>
        <mat-card-content>
          <div align="center">
            <iframe width="80%" height="700" src="https://www.youtube.com/embed/TURNh1HaKFs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </mat-card-content>
        <mat-card-content>
          <div align="center">
            <iframe width="80%" height="700" src="https://www.youtube.com/embed/TZ0HIVBsV68" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </mat-card-content>
        <mat-card-content>
          <div align="center">
            <iframe width="80%" height="700" src="https://www.youtube.com/embed/MDRqtfyyvFc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>

<!-- https://image.freepik.com/free-vector/math-background_23-2148147326.jpg -->
