<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Conteúdo">
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Ligações Químicas</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            As ligações químicas correspondem à união dos átomos para a formação
            das substâncias químicas. Em outras palavras, as ligações químicas
            acontecem quando os átomos dos elementos químicos se combinam uns
            com os outros e os principais tipos são:

            <br />* Ligações iônicas: transferência de elétrons; <br />*
            Ligações covalentes: compartilhamento de elétrons; <br />* Ligações
            metálicas: existência de elétrons livres.
          </p>
          <p>
            Regra do Octeto
            <br />A Teoria do Octeto, criada por Gilbert Newton Lewis
            (1875-1946), químico estadunidense, e Walter Kossel (1888-1956),
            físico alemão, surgiu a partir da observação dos gases nobres e
            algumas características como por exemplo, a estabilidade dos
            elementos que apresentam 8 elétrons na Camada de Valência.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Tabela Periódica</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            A Tabela Periódica dos Elementos Químicos, ou Classificação
            Periódica dos Elementos Químicos, tem como objetivo organizar e
            agrupar todos os elementos químicos já descobertos pelo ser humano.
            Foi desenvolvida em 1869 pelo químico russo Dmitri Mendeleev, o qual
            organizou elementos de propriedades semelhantes em grupos e os
            colocou em ordem crescente de massa.
          </p>
          <p>
            Posteriormente, em 1913, a Tabela Periódica foi aprimorada pelo
            físico inglês Henry Moseley, depois de seu método de determinação
            dos números atômicos. Dali em diante, os elementos foram colocados
            em ordem crescente de números atômicos, tomando a forma que hoje
            conhecemos. Em comemoração aos 150 anos da criação da Tabela
            Periódica, a Organização das Nações Unidas decretou o ano de 2019
            como o Ano Internacional da Tabela Periódica.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Radioatividade</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            Radioatividade é um fenômeno nuclear que resulta da emissão de
            energia por átomos, provocada em decorrência de uma desintegração,
            ou instabilidade, de elementos químicos. Uma reação nuclear é
            diferente de uma reação química. Em transformações nucleares o
            núcleo do átomo sofre alterações, já as reações químicas ocorrem na
            eletrosfera do átomo. Desta forma, um átomo pode se transformar em
            outro átomo e, quando isso acontece, significa que ele é radioativo.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Separação de misturas</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            A natureza, os produtos que adquirimos, os materiais confeccionados
            pelo ser humano, ou seja, de uma forma geral nós e tudo que nos
            cerca é formado por misturas (associação de substâncias). Para
            utilizarmos uma substância qualquer é fundamental realizar a
            separação de misturas.
          </p>
          <p>
            Separação de misturas significa isolar um ou mais componentes
            (substâncias) que formam a mistura, seja ela homogênea (que
            apresenta apenas um aspecto visual, fase) ou heterogênea (que
            apresenta pelo menos dois aspectos visuais, fases).
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Química</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            “Na natureza nada se cria, nada se perde, tudo se transforma.”
            -Antoine Lavoisier.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
            class="mat-button"
            mat-raised-button
            color="accent"
            routerLink="/materia/matematica"
          >
            Comece já
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>

  <mat-tab label="Exercícios"><div appearance="fill" style="margin-top: 10px; width: 100%;"  class="content">
    <mat-card class="mat-elevation-z4" >
      <mat-card-header>
        <mat-card-title>Ligações Iônicas</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Um elemento X possui número atômico 12 e se combina com um elemento Y, que está situado na família 15 da tabela periódica. Qual será a fórmula unitária mais provável desse composto iônico?<br><br>

          a)      XY<br>

          b)      XY2<br>

          c)      X2Y<br>

          d)     X2Y3<br>

          e)      X3Y2
        </p>
      </mat-card-content>
      <mat-card-actions>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title style="align-items: center; justify-content: center;">
              Resposta
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Alternativa “e”.</p>
          <p>Primeiro fazemos a distribuição eletrônica do elemento X para descobrir qual será o íon que ele forma:<br><br>
            12X: 1s2 2s2 2p6 3s2: forma cátion bivalente X2+.<br><br>

            Visto que o elemento Y é da família 15, isso significa que ele possui 5 elétrons em sua última camada eletrônica. Portanto, ele forma o ânion trivalente Y3-.<br><br>

            Agora realizamos a fórmula iônica: X2+   Y3-   → X3Y2</p>
        </mat-expansion-panel>
      </mat-card-actions>
    </mat-card>
    <mat-card class="mat-elevation-z4" style="padding:16px; margin-top: 20px;" >
      <mat-card-header>
        <mat-card-title>Tabela Periódica </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>
          Qual elemento químico dos alistados abaixo possui propriedades semelhantes às do oxigênio (O):<br><br>

          a)      Nitrogênio (N)<br>

          b)      Hidrogênio (H)<br>

          c)      Flúor (F)<br>

          d)     Enxofre (S)<br>

          e)      Carbono (C)
        </p>
      </mat-card-content>
      <mat-card-actions>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title style="align-items: center; justify-content: center;">
              Resposta
            </mat-panel-title>
          </mat-expansion-panel-header>
            <p>Alternativa “d”</p>
            <p>Pois o oxigênio e o enxofre pertencem à mesma família na Tabela Periódica, que é a 16 (ou 6A), a família dos calcogênios.</p>
        </mat-expansion-panel>
      </mat-card-actions>
    </mat-card>
    <mat-card class="mat-elevation-z4" style="padding:16px; margin-top: 20px;" >

      <mat-card-header>
        <mat-card-title>Radioatividade</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        Durante os estudos realizados com a radiação, Marie Curie observou que novos elementos químicos podem ser formados por meio do que ele denominou de decaimento radioativo. Nesse decaimento, o núcleo de um átomo emite, por exemplo, radiação alfa e forma um novo elemento com números de massa e atômico diferentes do átomo que o originou. Assim, se partirmos do nuclídeo Polônio, qual será o número atômico e o nome do novo elemento formado quando o Polônio emitir uma radiação alfa?<br><br>

        a) 85, o astato.<br>

        b) 82, o chumbo.<br>

        c) 84, o polônio.<br>

        d) 86, o radônio.
      </mat-card-content>

      <mat-card-actions>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title style="align-items: center; justify-content: center;">
              Resposta
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Letra B.</p>
          <p>De acordo com o enunciado, partiremos do nuclídeo polônio (84Po), que emitirá uma radiação alfa e formará um novo elemento com um número atômico duas unidades a menos que o Polônio, ou seja, 82. Analisando a tabela periódica, observarmos facilmente que o elemento cujo número atômico é 82 é o Chumbo.<br>

            84Po210 → 82X206 + 2α4</p>
        </mat-expansion-panel>
      </mat-card-actions>
    </mat-card>

    <mat-card class="mat-elevation-z4" style="padding:16px; margin-top: 20px;" >

      <mat-card-header>
        <mat-card-title>Separação de Misturas</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        (UFPB – 2004) Os processos de destilação são muito usados nas indústrias. Por exemplo, nos engenhos, a fabricação da cachaça é feita destilando-se o caldo fermentado num alambique. Relacione as partes de um alambique (Figura 1) com as peças que constituem um aparelho para destilação simples (Figura 2), representadas abaixo, numerando a segunda coluna de acordo com a primeira.<br><br>
        <div class="imagem">
          <img src="https://s5.static.brasilescola.uol.com.br/img/2013/11/destilacao.jpg" alt="Speto" width=50% height=40%>
        </div>
        <br>
        (1) Fornalha                               (?) Béquer.<br>

        (2) Tacho de aquecimento         (?) Balão de fundo redondo.<br>

        (3) Serpentina de resfriamento  (?) Bico de Bunsen.<br>

        (4) Recipiente coletor                (?) Condensador.<br><br>

        A sequência numérica correta é:
        a) 4,1,3,2<br>
        b) 3,1,2,4<br>
        c) 2,4,1,3<br>
        d) 2,3,1,4<br>
        e) 4,2,1,3
      </mat-card-content>

      <mat-card-actions>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title style="align-items: center; justify-content: center;">
              Resposta
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Alternativa “e”.</p>
          <p>O béquer é o recipiente coletor, o balão de fundo redondo atua como tacho de aquecimento, o bico de Bunsen, como fornalha; e o condensador, como serpentina de resfriamento.</p>
        </mat-expansion-panel>
      </mat-card-actions>
    </mat-card>
  </div>
</mat-tab>

  <mat-tab label="Vídeo aulas">
    <div
    appearance="fill"
    style="margin-top: 10px; width: 100%"
    class="content"
    >
      <mat-card class="videos"
        style="margin-left: auto; margin-top: auto;">
          <mat-card-header> </mat-card-header>

          <mat-card-content>
            <div align="center">
              <iframe width="80%" height="700" src="https://www.youtube.com/embed/UT6qgwjRgH8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </mat-card-content>
          <mat-card-content>
            <div align="center">
              <iframe width="80%" height="700" src="https://www.youtube.com/embed/hCYGjcQAZhs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </mat-card-content>
          <mat-card-content>
            <div align="center">
              <iframe width="80%" height="700" src="https://www.youtube.com/embed/WJOB0iHCFhc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </mat-card-content>
          <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>
