<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Conteúdo">
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Ligações Químicas</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            As ligações químicas correspondem à união dos átomos para a formação
            das substâncias químicas. Em outras palavras, as ligações químicas
            acontecem quando os átomos dos elementos químicos se combinam uns
            com os outros e os principais tipos são:

            <br />* Ligações iônicas: transferência de elétrons; <br />*
            Ligações covalentes: compartilhamento de elétrons; <br />* Ligações
            metálicas: existência de elétrons livres.
          </p>
          <p>
            Regra do Octeto
            <br />A Teoria do Octeto, criada por Gilbert Newton Lewis
            (1875-1946), químico estadunidense, e Walter Kossel (1888-1956),
            físico alemão, surgiu a partir da observação dos gases nobres e
            algumas características como por exemplo, a estabilidade dos
            elementos que apresentam 8 elétrons na Camada de Valência.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Tabela Periódica</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            A Tabela Periódica dos Elementos Químicos, ou Classificação
            Periódica dos Elementos Químicos, tem como objetivo organizar e
            agrupar todos os elementos químicos já descobertos pelo ser humano.
            Foi desenvolvida em 1869 pelo químico russo Dmitri Mendeleev, o qual
            organizou elementos de propriedades semelhantes em grupos e os
            colocou em ordem crescente de massa.
          </p>
          <p>
            Posteriormente, em 1913, a Tabela Periódica foi aprimorada pelo
            físico inglês Henry Moseley, depois de seu método de determinação
            dos números atômicos. Dali em diante, os elementos foram colocados
            em ordem crescente de números atômicos, tomando a forma que hoje
            conhecemos. Em comemoração aos 150 anos da criação da Tabela
            Periódica, a Organização das Nações Unidas decretou o ano de 2019
            como o Ano Internacional da Tabela Periódica.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Radioatividade</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            Radioatividade é um fenômeno nuclear que resulta da emissão de
            energia por átomos, provocada em decorrência de uma desintegração,
            ou instabilidade, de elementos químicos. Uma reação nuclear é
            diferente de uma reação química. Em transformações nucleares o
            núcleo do átomo sofre alterações, já as reações químicas ocorrem na
            eletrosfera do átomo. Desta forma, um átomo pode se transformar em
            outro átomo e, quando isso acontece, significa que ele é radioativo.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Separação de misturas</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            A natureza, os produtos que adquirimos, os materiais confeccionados
            pelo ser humano, ou seja, de uma forma geral nós e tudo que nos
            cerca é formado por misturas (associação de substâncias). Para
            utilizarmos uma substância qualquer é fundamental realizar a
            separação de misturas.
          </p>
          <p>
            Separação de misturas significa isolar um ou mais componentes
            (substâncias) que formam a mistura, seja ela homogênea (que
            apresenta apenas um aspecto visual, fase) ou heterogênea (que
            apresenta pelo menos dois aspectos visuais, fases).
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Química</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            “Na natureza nada se cria, nada se perde, tudo se transforma.”
            -Antoine Lavoisier.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
            class="mat-button"
            mat-raised-button
            color="accent"
            routerLink="/materia/matematica"
          >
            Comece já
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Exercícios">Content 2</mat-tab>
  <mat-tab label="Vídeo aulas">
    <div
    appearance="fill"
    style="margin-top: 10px; width: 100%"
    class="content"
    >
      <mat-card class="videos"
        style="margin-left: auto; margin-top: auto;">
          <mat-card-header> </mat-card-header>

          <mat-card-content>
            <div align="center">
              <iframe width="80%" height="700" src="https://www.youtube.com/embed/UT6qgwjRgH8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </mat-card-content>
          <mat-card-content>
            <div align="center">
              <iframe width="80%" height="700" src="https://www.youtube.com/embed/hCYGjcQAZhs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </mat-card-content>
          <mat-card-content>
            <div align="center">
              <iframe width="80%" height="700" src="https://www.youtube.com/embed/WJOB0iHCFhc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </mat-card-content>
          <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>
