<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <div class="row"> <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEX///+nxBvIAAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC" class="logo"> </div>
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="https://image.freepik.com/vetores-gratis/webinar-de-escuta-da-aluna-on-line_74855-6461.jpg" class="image"> </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5">
                    <div class="row mb-4 px-3">
                      <form>
                        <div class="mb-3">                       
                          <label for="exampleInputEmail1" class="form-label">Email</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          <div id="emailHelp" class="form-text">Não compartilhe seu email com mais ninguem.</div>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Senha</label>
                          <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                         <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Confirme sua senha</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                          </div>
                        <div class="mb-3">
                            <label for="exampleInputNumber" class="form-label">Telefone</label>
                            <input type="number" class="form-control">
                        </div>                     
                      </form>
                    <div class="row mb-3 px-3"> 
                      <button type="submit" mat-raised-button color="primary"class="text-center" routerLink="/nav">Junte-se a nós</button> 
                    </div>
                    <div class="row mb-4 px-3"> <small class="font-weight-bold">Já tem conta? <a class="text-danger " routerLink="/login">Faça login</a></small> </div>
                </div>
            </div>
        </div>
        <div class="bg-blue py-4">
            
                <div class="social-contact ml-4 ml-sm-auto"> <span class="fa fa-facebook mr-4 text-sm"></span> <span class="fa fa-google-plus mr-4 text-sm"></span> <span class="fa fa-linkedin mr-4 text-sm"></span> <span class="fa fa-twitter mr-4 mr-sm-5 text-sm"></span> </div>
            </div>
        </div>
    </div>
  