<body>
    <div>
        <mat-card style="margin: 10px; ">
        <div class="container py-5">
            <h1 class="display-5 fw-bold">Bem vindo ao simulado</h1>
            <p class="col-md-8 fs-4">Esse simulado possui 10 perguntas. Cada pergunta vale 10 pontos</p>
            <h4>Regras:</h4>
            <ol>
                <li>Respostas certas dará um total de 10 pontos</li>
                <li>Respostas incorretas não fará você perder pontos</li>
                <li>Você terá 60 segundos para responder cada pergunta</li>
                <li>Atualizar a pagina irá resetar o simulado</li>
            </ol>
            <h1 style="font-family: Arial, Helvetica, sans-serif; text-align: center;"> Boa Sorte!!</h1>
            <div style="width:30%">
                <label for="">Digite seu nome</label>
                <input #nome type="text" class="form-control">
            </div>
        </div>
        <button mat-raised-button color="primary" routerLink="/quiz" (click)=" starQuiz()">Comece</button>
        </mat-card>
    </div>
</body>
