<!-- 
<div class="quiz-container" id="quiz">
    <div class="quiz-header">
        <h2 id="question">Pergunta</h2>
        <ul>
            <li>
                <input type="radio" name="resposta" id="a" class="resposta">
                <label for="a" id="a_text">Resposta</label>
            </li>
            <li>
                <input type="radio" name="resposta" id="b" class="resposta">
                <label for="b" id="a_text">Resposta</label>
            </li>
            <li>
                <input type="radio" name="resposta" id="c" class="resposta">
                <label for="c" id="c_text">Resposta</label>
            </li>
            <li>
                <input type="radio" name="resposta" id="d" class="resposta">
                <label for="d" id="d_text">Resposta</label>
            </li>
        </ul>
    </div>
    <button mat-button  color="accent" id="submit">Enviar</button>
</div> -->
