<div class="content" style="color: 'primary';">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%" >
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>

        </mat-card-header>
        <div class="demo">
          <h3></h3>
          <carousel
            [images]="images"
            [cellWidth]="1000"
            [height]="600"
            [cellsToShow]="1"
            [autoplay]="true"
            [dots]="true"
            arrowsTheme="dark"
            [borderRadius]="10"
            [margin]="20"
            [loop]="true">
          </carousel>
        </div>
        <mat-card-content>
          <h1 style="text-align: center;">
            Acerte em tudo que puder acertar. Mas não se torture com seus erros.
          </h1>
          <button style="width:100%;" mat-raised-button color="primary" routerLink="/materia" appearance="fill">
            Vamos começar.
          </button>
        </mat-card-content>
        <mat-card-actions>

        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>


 <div class="content" style="color: 'primary';">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" >
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title style="text-align: center;">Seja Criativo!</mat-card-title>
        </mat-card-header>
        <img mat-card-image src='https://image.freepik.com/fotos-gratis/lapis-coloridos-em-um-circulo_54231-16.jpg'>
        <mat-card-content>
          <p>
            A criatividade é pensar coisas novas. A inovação é fazer coisas novas.
          </p>
        </mat-card-content>
        <mat-card-actions>

        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" >
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>Relaxe</mat-card-title>
        </mat-card-header>
        <img mat-card-image src='https://image.freepik.com/fotos-gratis/local-de-trabalho-para-estudos-com-notebooks-amarelos-e-aviao-de-papel_23-2147878297.jpg'>
        <mat-card-content>
          <p>
            Por que se apressar sobre coisas bonitas? Por que não relaxar e apreciá-las?
          </p>
        </mat-card-content>
        <mat-card-actions>

        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" >
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>Estude de casa</mat-card-title>
        </mat-card-header>
        <img mat-card-image src='https://image.freepik.com/fotos-gratis/menina-em-casa-estudando-durante-a-escola-online-com-laptop_23-2148827501.jpg'>
        <mat-card-content>
          <p>
            A juventude é a época de se estudar a sabedoria; a velhice é a época de a praticar.
          </p>
        </mat-card-content>
        <mat-card-actions>

        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" >
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>Não desista!</mat-card-title>
        </mat-card-header>
        <img mat-card-image src='https://image.freepik.com/fotos-gratis/vista-superior-que-voce-pode-fazer-escrito-no-bloco-de-notas-marcadores-vermelhos-e-azuis-observe-papeis-xicara-de-cha-no-preto_140725-145346.jpg'>
        <mat-card-content>
          <p>
            Não desista sem tentar, pois saber que deu seu melhor já é motivo de alegria.
          </p>
        </mat-card-content>
        <mat-card-actions>

        </mat-card-actions>
      </mat-card>

    </div>
  </div>
</div>
<!-- https://image.freepik.com/free-vector/math-background_23-2148147326.jpg -->












 <!-- <div class="container">
   <div class="card-container">
     <div class="card">
 <mat-card class="front">
  <mat-card-title>Actions Buttons</mat-card-title>
  <mat-card-subtitle>Start</mat-card-subtitle>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
</div>

</div></div>
  <div class="card-container">
    <div class="card">
<mat-card class="back">
  <mat-card-title>Actions Buttons</mat-card-title>
  <mat-card-subtitle>End</mat-card-subtitle>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
</div> -->

<!-- <body>
   <div class="container">
     <div class="card-container">
       <div class="card">
         <figure class="front">
           <h1>1</h1>
           <p>ESSA POHA GIRA.</p>
         </figure>
         <figure class="back">
            <h1>Price : 20$</h1>
            <button>Buy</button>
        </figure>
        </div>
      </div>
    </div>
 </body> -->
