<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Conteúdo">
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Mecânica</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            Mecânica é uma grande área da física que se concentra no estudo do
            movimento e repouso dos corpos, estejam estes ou não sob a ação de
            forças. A mecânica divide-se nas áreas de cinemática, dinâmica e
            estática. Praticamente todos os movimentos que acontecem em nosso
            cotidiano podem ser descritos pelas equações dessa área.
          </p>
          <p>
            O estudo da mecânica é de grande importância para uma enorme gama de
            profissões, além de ser o conteúdo de física que é mais cobrado no
            Exame Nacional do Ensino Médio (Enem).
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Termodinâmica</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            A termodinâmica é a área da termologia que analisa os processos de
            troca de calor, observando as variações da temperatura, da pressão e
            do volume e como elas interferem nos sistemas físicos.
          </p>
          <p>
            A palavra termodinâmica vem do grego therme que significa calor +
            dynamis que significa movimento. Essa área da física tem como base
            as Leis da Termodinâmica. De acordo com essas leis, é possível
            transferir energia de um sistema para outro na forma de calor ou de
            trabalho.
          </p>
          <p>
            Os estudos da área de termodinâmica foram desenvolvidos a partir da
            necessidade da criação e do aumento da eficiência das primeiras
            máquinas a vapor. O pioneiro de estudos dessa área foi Otto Von
            Guericke.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Óptica</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            A óptica é uma área da física que busca compreender um grande número
            de fenômenos relacionados à luz. Em vista disso, ela pode ser
            compreendida como um caso particular da ondulatória, que estuda o
            comportamento das ondas de todo o espectro eletromagnético e não
            somente da luz visível.
          </p>
          <p>
            No âmbito da física clássica, a óptica divide-se em duas subáreas —
            óptica geométrica e óptica física. Não obstante, ao levar-se em
            conta os conhecimentos da física moderna, há também a óptica
            quântica — uma área que estuda o comportamento quântico e
            corpuscular da luz e de outras radiações, bem como a sua interação
            com a matéria.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Ondulatória</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            Ondulatória é a parte da física que estuda todos os tipos de ondas,
            sejam elas eletromagnéticas, como a luz, ou mecânicas a exemplo das
            oscilações que ocorrem na superfície das águas, que é o caso das
            ondas marítimas.
          </p>
          <p>
            Na ondulatória, as ondas são o resultado de várias perturbações que
            oscilam, chamadas de pulso, que se propagam em um determinado
            espaço. Elas são formadas através de um estímulo, chamado de fonte,
            que serão responsáveis pela origem das ondas.
          </p>
          <p>
            De acordo com a ondulatória, as ondas são capazes de transportar
            energia sem transportar a matéria. No caso das ondas sonoras, o
            barulho do trovão pode ser escutado, mas não precisa que a matéria
            se desloque até os ouvidos, por exemplo.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Física</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            “O que sabemos é uma gota; o que ignoramos é um oceano.” -Isaac
            Newton.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
            class="mat-button"
            mat-raised-button
            color="accent"
            routerLink="/materia/matematica"
          >
            Comece já
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Exercícios">Content 2</mat-tab>
  <mat-tab label="Vídeo aulas"
    ><div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="videos">
        <mat-card-header> </mat-card-header>

        <mat-card-content>
          <div align="center">
            <iframe width="80%" height="700" src="https://www.youtube.com/embed/wlTa_yTElGM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </mat-card-content>
        <mat-card-content>
          <div align="center">
            <iframe width="80%" height="700" src="https://www.youtube.com/embed/XmEw-1xYGTw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </mat-card-content>
        <mat-card-content>
          <div align="center">
            <iframe width="80%" height="700" src="https://www.youtube.com/embed/f1prnafhQtE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </mat-card-content>
        <mat-card-content>
          <div align="center">
            <iframe width="80%" height="700" src="https://www.youtube.com/embed/mqjWQYX6hxs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </mat-card-content>
        <mat-card-content>
          <div align="center">
            <iframe width="80%" height="700" src="https://www.youtube.com/embed/0WeaGRPun94" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>

