<div class="container">
    <header>
        <p href="" class="logo">Edu<span>qui</span></p>       
    </header>
    <div class="content">
        <div class="bannerText">
            <div>
                <h2>E-Forum</h2>
                <p >Bem vindo ao forum do Eduqui, aqui você pode postar suas duvidas para outras pessoas poderem ajuda-lo.
                   Para começar clique no botão abaixo</p>
                <button mat-button>Comece já</button>  
            </div>
        </div>
        <div class="bannerImg">
            <img style="margin-left: 30%;" src="https://image.freepik.com/fotos-gratis/foto-interna-de-um-estudante-alegre-de-pele-escura-mantendo-o-lapis-na-mao-sentindo-se-feliz-por-ter-uma-boa-ideia-para-escrever-a-composicao-segura-o-bloco-de-notas-trabalha-no-artigo-parece-alegremente-isolado-sobre-a-parede-rosa_273609-29511.jpg">
        </div>
    </div>
</div>


        <mat-card class="mat-elevation-z4, form" >
          <div class="circulo">
          </div>
          <mat-card-header>
            <h3 style="font-size: 1.5em;">Faça suas postagens</h3>
          </mat-card-header>
          <div class="row mb-4 px-3">
            <form (submit)="onPublicar(publicarForm)" #publicarForm="ngForm">
              
              <mat-form-field>
                <input matInput name="titulo" ngModel #tituloInput="ngModel" type="text" placeholder="Título"
                required>
                <mat-error *ngIf="tituloInput.invalid">Digite um titulo</mat-error>
              </mat-form-field>
              <mat-form-field>
                  <textarea matInput style="height:30%" name="conteudo" ngModel #conteudoInput="ngModel" type="text" id="form7" 
                  class="md-textarea md-textarea-auto form-control" placeholder="Texto" required></textarea>   
                  <mat-error *ngIf="conteudoInput.invalid">Digite o conteudo</mat-error>            
              </mat-form-field>
              <div class="mb-3 form-check">
  
              <button  class="button" mat-raised-button color="primary" type="submit" appearance="fill">
              Enviar
              </button> 
              </div>
            </form>
          </div>
          
          <mat-card-actions>
            
          </mat-card-actions>
        </mat-card>

<mat-accordion *ngIf="postagens.length > 0"> 
  <div class="conteiner" *ngFor="let postagem of postagens">
    <mat-card class="postagem">
      <div>
        <h2>{{postagem.titulo}}</h2>
        <p>{{postagem.conteudo}}</p>
        <a href="">Responder</a>
      </div>
    </mat-card>
  </div>
</mat-accordion>     
  
