<div appearance="fill" class="card" style="width: 100%" class="content">
    <mat-card class="mat-elevation-z4" style="width: 80%;">
    <mat-card-content >
    <div class="card-body">
        <p class="card-text" id="titulo">De onde vem o nosso material?</p>
        <p class="card-text">Todo o nosso material foi retirado de sites de ensino tais quais:<br><br>
          <a class="link-estilo" href="https://brasilescola.uol.com.br">brasilescola.uol.com.br</a>
          <br>
          <a class="link-estilo" href="https://mundoeducacao.uol.com.br">mundoeducacao.uol.com.br</a>
          <br>
          <a class="link-estilo" href="https://blog.anhanguera.com">blog.anhanguera.com</a>
          <br>
          <a class="link-estilo" href="https://www.infoescola.com">www.infoescola.com</a>
          <br>
          <a class="link-estilo" href="https://www.educamaisbrasil.com.br">www.educamaisbrasil.com.br</a>
          <br>
          <a class="link-estilo" href="https://www.todamateria.com.br">www.todamateria.com.br</a>
          <br><br>
          Já os nosso vídeos foram retirados dos seguintes canais:<br><br>
          <a class="link-estilo" href="https://www.youtube.com/channel/UCW9_n8p_Byz-4k8wV1tnUBg">Ferreto Matemática</a>
          <br>
          <a class="link-estilo" href="https://www.youtube.com/channel/UCwSxSJqGpSRpEsq5-YUbM8g">Professor Noslen</a>
          <br>
          <a class="link-estilo" href="https://www.youtube.com/channel/UChy2vDADNGfZ9r1G8l1FTYA ">Aula De</a>
          <br>
          <a class="link-estilo" href="https://www.youtube.com/channel/UCjplZWqDXUoyrx_jMb2AqWQ">Aprenda Inglês Sozinho</a>
          <br>
          <a class="link-estilo" href="https://www.youtube.com/channel/UCUQ4CUvWeDlB_EFQcj_J0lA">Inglês Minuto</a>
          <br>
          <a class="link-estilo" href="https://www.youtube.com/channel/UC-UdrV7TmMRMEXu1ZFJbGcQ">Fluency TV - Espanhol</a>
          <br>
          <a class="link-estilo" href="https://www.youtube.com/channel/UC4zG6UeNUn-HM6UEFFkiESA ">AulaLivre -Enem e vestibulares</a>
          <br>
          <a class="link-estilo" href="https://www.youtube.com/channel/UCUDJR8h5P28xaN7UBEPo0VQ">Stoodi</a>
          <br>
          <a class="link-estilo" href="https://www.youtube.com/channel/UCKUL3EyuAEaJUYH_kib15dg">Se Liga - Enem e vestibulares</a>
          <br>
          <a class="link-estilo" href="https://www.youtube.com/channel/UCx7HKmnCIIbRBF2FjAoV0bg">Débora Aladim</a>
          <br>
          <a class="link-estilo" href="https://www.youtube.com/channel/UC3KTSc6Ihj3vKI6aaYYpN_A ">Umberto Mannarino</a>
          <br>
          <a class="link-estilo" href="https://www.youtube.com/channel/UCzshJ2mSjxhqKFBUXqP49Uw">Professor Boaro</a>
          <br>
          <a class="link-estilo" href="https://www.youtube.com/channel/UC_e7B1w8T-4ZD-QtIVAO9pg">Física 2.0</a>
          <br>
          <a class="link-estilo" href="https://www.youtube.com/channel/UCT0JugAtGmqiYkwxFZOwAtg">Descomplica</a>
          <br>
          <a class="link-estilo" href="https://www.youtube.com/channel/UCY94vWeREcqdZ7XM9oRG-ug">Pablo Jamilk</a>
          <br>
          <a class="link-estilo" href="https://www.youtube.com/channel/UC18PGfTE9wmSQTlm3xeZBOQ">LÍTERABRASIL</a>
          <br>
          <a class="link-estilo" href="https://www.youtube.com/channel/UC_53VGoH_0XLFmYVpGMvhvg">Curso Enem Gratuito</a>
          <br>
          <a class="link-estilo" href="https://www.youtube.com/channel/UCsgHWN8lYveMUEWTDheTjZA">Brasil Escola</a>
          <br>
          <a class="link-estilo" href="https://www.youtube.com/channel/UCdLt2OhiWNLRsGNF-0DE4-A">Biologia com Samuel Cunha</a>
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
