<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Conteúdo">
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Idade Média</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            A Idade Média é o período da história geral que se inicia no século
            V, logo após a queda do Império Romano do Ocidente, e termina no
            século XV, com a conquista de Constantinopla pelo Império
            Turco-Otomano. Foi um período marcado pela síntese da herança romana
            com a cultura dos povos bárbaros que invadiram o Império Romano.
          </p>
          <p>
            A Igreja Católica tornou-se uma instituição poderosa e influente não
            apenas na religião, mas também na sociedade medieval. A invasão
            bárbara provocou a fuga da cidade em direção ao campo. A Europa
            ocidental ruralizava-se, e a riqueza era a terra. A agricultura
            tornou-se a principal atividade econômica, e a produção dos feudos
            era para o próprio sustento.
          </p>
          <p>
            A partir do século XIII, por conta dos renascimentos comercial e
            urbano, o mundo medieval começou a entrar em crise. A centralização
            do poder nas mãos dos reis derrotou os senhores feudais, pacificou
            as revoltas servis e abriu as portas da Europa para a Idade Moderna.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Revolução Industrial</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            Revolução Industrial foi iniciada na segunda metade do século XVIII
            e causou profundas transformações para a humanidade, por meio do
            surgimento da indústria e do capitalismo.
          </p>
          <p>
            Por Revolução Industrial, as ciências humanas compreendem como o
            período de grande desenvolvimento tecnológico que foi iniciado na
            Inglaterra a partir da segunda metade do século XVIII. Com o tempo,
            esse desenvolvimento espalhou-se para outras partes do mundo, como a
            Europa ocidental e os Estados Unidos. Assim, surgiu a indústria, e
            as transformações causadas por essa possibilitaram a consolidação do
            capitalismo.
          </p>
          <p>
            A economia, a nível mundial, sofreu grandes transformações. O
            processo de produção de mercadorias acelerou-se bastante, já que a
            produção manual foi substituída pela utilização da máquina. O
            resultado foi o estímulo à exploração dos recursos da natureza de
            maneira excessiva, uma vez que a capacidade produtiva aumentou. A
            Revolução Industrial também impactou as relações de trabalho,
            gerando uma reação dos trabalhadores, cada vez mais explorados no
            contexto industrial.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Primeira Guerra Mundial</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            A Primeira Guerra Mundial foi um conflito que ocorreu entre 1914 e
            1918 e ficou muito conhecida em razão dos combates que aconteciam
            nas trincheiras.
          </p>
          <p>
            A Primeira Guerra Mundial foi um marco na história da humanidade.
            Foi a primeira guerra do século XX e o primeiro conflito em estado
            de guerra total – aquele em que uma nação mobiliza todos os seus
            recursos para viabilizar o combate. Estendeu-se de 1914 a 1918 e foi
            resultado das transformações que aconteciam na Europa, as quais
            fizeram diferentes nações entrar em choque.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Revolução Francesa</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            A Revolução Francesa, ciclo revolucionário que aconteceu entre 1789
            e 1799, foi responsável pelo fim dos privilégios da aristocracia e
            pelo término do Antigo Regime.
          </p>
          <p>
            A Revolução Francesa é o nome dado ao ciclo revolucionário que
            aconteceu na França entre 1789 e 1799 que marcou o fim do
            absolutismo nesse país. Essa revolução, além de seu caráter burguês,
            teve uma grande participação popular e atingiu um alto grau de
            radicalismo, uma vez que a situação do povo francês era precária em
            virtude da crise que o país enfrentava.
          </p>
          <p>
            A Revolução Francesa foi um marco na história da humanidade, porque
            inaugurou um processo que levou à universalização dos direitos
            sociais e das liberdades individuais a partir da Declaração dos
            Direitos do Homem e do Cidadão. Essa revolução também abriu caminho
            para a consolidação de um sistema republicano pautado pela
            representatividade popular, hoje chamado de democracia
            representativa. A Revolução Francesa só foi possível graças à
            popularização dos ideais do Iluminismo.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>História</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            “O poeta pode contar ou cantar as coisas, não como foram mas como
            deviam ser; e o historiador há-de escrevê-las, não como deviam ser e
            sim como foram, sem acrescentar ou tirar nada à verdade.” -Miguel de
            Cervantes.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
            class="mat-button"
            mat-raised-button
            color="accent"
            routerLink="/materia/matematica"
          >
            Comece já
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Exercícios"><div appearance="fill" style="margin-top: 10px; width: 100%;"  class="content">
    <mat-card class="mat-elevation-z4" >
      <mat-card-header>
        <mat-card-title>Alta Idade Média</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          A desagregação do Império Romano do Ocidente ficou marcada pelas invasões dos povos germânicos, que, a partir do século IV, começaram a instalar-se nas terras romanas, uma vez que Roma já não conseguia defender-se. Entre os diversos povos que a invadiram, selecione a alternativa INCORRETA:
           <br> <br>
          a) Visigodos<br>
          b) Francos<br>
          c) Saxões<br>
          d) Húngaros<br>
          e) Alamanos
        </p>
      </mat-card-content>
      <mat-card-actions>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title style="align-items: center; justify-content: center;">
              Resposta
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Letra D</p>
          <p>Os húngaros não eram um dos povos germânicos que invadiram o império romano durante os séculos IV e V. Eles ficaram conhecidos por realizarem invasões em territórios europeus em meados do século IX. Buscaram instalar-se na região dos Cárpatos (atual Romênia), e depois, em regiões da Europa Central. Estabeleceram-se na Panônia, no final do século IX, e formaram o reino da Hungria, sob a liderança de Árpad.</p>
        </mat-expansion-panel>
      </mat-card-actions>
    </mat-card>
    <mat-card class="mat-elevation-z4" style="padding:16px; margin-top: 20px;" >
      <mat-card-header>
        <mat-card-title>Revolução Francesa </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>
          (Unicentro)  “Para o historiador, todos os acontecimentos, mesmo os remotos, têm atualidade e vida. Mas isso é ainda mais verdadeiro no caso da Revolução Francesa de 1789, que transformou o modo de vida até daqueles que pouco souberam ou sabem sobre ela, até hoje em dia. Não será exagero dizer que ela ajudou a dar forma ao mundo ocidental contemporâneo, moldando as instituições e os ideais que nos animam e que consideramos universais.” (GRESPAN, Jorge. Revolução Francesa e Iluminismo. São Paulo: Contexto, 2003. p. 9.)<br><br>

          Sobre a Revolução Francesa, é correto afirmar.
          <br><br>
          a) A Revolução Francesa ocorreu em meio a uma crise econômica e foi produto de revoltas de burgueses, camponeses e trabalhadores urbanos.<br>

          b) A Revolução Francesa é considerada a primeira Revolução Comunista, pois, até hoje, esse sistema molda as instituições no mundo ocidental.<br>

          c) Foi uma revolução comandada por Napoleão Bonaparte, que, influenciado pelo Iluminismo, organizou um golpe de estado contra Luiz XVI.<br>

          d) A Revolução Francesa foi um movimento caracterizado pelo terror, organizado pelo revolucionário Robespierre, em apoio ao absolutismo de Luiz XVI.<br>

          e) Trata-se de uma revolução burguesa, inspirada no iluminismo e comandada por Robespierre, na qual o Czar Nicolau II foi executado na guilhotina.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title style="align-items: center; justify-content: center;">
              Resposta
            </mat-panel-title>
          </mat-expansion-panel-header>
            <p>Letra A</p>
            <p>A Revolução Francesa aconteceu em um cenário de crise econômica da França, fruto do envolvimento do país em diferentes conflitos e fruto dos gastos excessivos do país com coisas supérfluas. A crise reforçou as insatisfações com os privilégios da nobreza e clero, abrindo espaço para revoltas de burgueses, camponeses e trabalhadores urbanos.</p>
        </mat-expansion-panel>
      </mat-card-actions>
    </mat-card>
    <mat-card class="mat-elevation-z4" style="padding:16px; margin-top: 20px;" >

      <mat-card-header>
        <mat-card-title>Revolução Industrial</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        A Terceira Revolução Industrial, que vem se realizando nas últimas décadas do século XX, introduziu importantes alterações no sistema produtivo. Assinale a alternativa que NÃO indica corretamente uma dessas mudanças.<br><br>

        a) Transmissão instantânea das informações e formação de redes - telecomunicações.<br>

        b) Realização de cálculos complexos em tempo cada vez menor - informática.<br>

        c) Mudança no padrão energético - energia nuclear.<br>

        d) Aceleração do tempo e aumento da capacidade de deslocamento de carga - transportes mais eficientes.<br>

        e) Surgimento de novos materiais e adoção de novas técnicas - siderurgia.<br>
      </mat-card-content>

      <mat-card-actions>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title style="align-items: center; justify-content: center;">
              Resposta
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Letra E.</p>
          <p>Do ponto de vista histórico, devemos assinalar o desenvolvimento da siderurgia como uma das mais importantes conquistas tecnológicas alcançadas durante a Segunda Revolução Industrial. Por meio do emprego desse recurso, observamos uma grande revolução no setor de transportes e em outros campos ligados à engenharia. </p>
        </mat-expansion-panel>
      </mat-card-actions>
    </mat-card>

    <mat-card class="mat-elevation-z4" style="padding:16px; margin-top: 20px;" >

      <mat-card-header>
        <mat-card-title>Primeira Guerra Mundial</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        (Avança-SP) Dos fenômenos abaixo citados, assinale aquele que é considerado como o causador da Primeira Guerra Mundial.<br><br>

        a) O assassinato da família imperial russa.<br>

        b) O fim do colonialismo africano.<br>

        c) A emancipação dos povos árabes.<br>

        d) O descumprimento do Tratado de Versalhes por parte da Alemanha.<br>

        e) O assassinato do arquiduque Francisco Ferdinando, herdeiro do trono austríaco.<br>
      </mat-card-content>

      <mat-card-actions>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title style="align-items: center; justify-content: center;">
              Resposta
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Letra E.</p>
          <p>O assassinato do arquiduque Francisco Ferdinando, herdeiro do trono austríaco, aconteceu em 28 de junho de 1914, sendo realizado por um estudante sérvio-bósnio que lutava pela independência da Bósnia. O acontecimento deu início à Crise de Julho e resultou na declaração da Áustria-Hungria contra a Sérvia em 29 de julho de 1914.</p>
        </mat-expansion-panel>
      </mat-card-actions>
    </mat-card>
  </div>
</mat-tab>


  <mat-tab label="Vídeo aulas"
    ><div
    appearance="fill"
    style="margin-top: 10px; width: 100%"
    class="content"
    >
      <mat-card class="videos"
        style="margin-left: auto; margin-top: auto;">
          <mat-card-header> </mat-card-header>

          <mat-card-content>
            <div align="center">
              <iframe width="80%" height="700" src="https://www.youtube.com/embed/hehqnvTus1k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </mat-card-content>
          <mat-card-content>
            <div align="center">
              <iframe width="80%" height="700" src="https://www.youtube.com/embed/t6nJNv-pNr8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </mat-card-content>
          <mat-card-content>
            <div align="center">
              <iframe width="80%" height="700" src="https://www.youtube.com/embed/EEOYAN2CWwM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </mat-card-content>
          <mat-card-content>
            <div align="center">
              <iframe width="80%" height="700" src="https://www.youtube.com/embed/ceCcZooYDBo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </mat-card-content>
          <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>
