<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Conteúdo">
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Idade Média</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            A Idade Média é o período da história geral que se inicia no século
            V, logo após a queda do Império Romano do Ocidente, e termina no
            século XV, com a conquista de Constantinopla pelo Império
            Turco-Otomano. Foi um período marcado pela síntese da herança romana
            com a cultura dos povos bárbaros que invadiram o Império Romano.
          </p>
          <p>
            A Igreja Católica tornou-se uma instituição poderosa e influente não
            apenas na religião, mas também na sociedade medieval. A invasão
            bárbara provocou a fuga da cidade em direção ao campo. A Europa
            ocidental ruralizava-se, e a riqueza era a terra. A agricultura
            tornou-se a principal atividade econômica, e a produção dos feudos
            era para o próprio sustento.
          </p>
          <p>
            A partir do século XIII, por conta dos renascimentos comercial e
            urbano, o mundo medieval começou a entrar em crise. A centralização
            do poder nas mãos dos reis derrotou os senhores feudais, pacificou
            as revoltas servis e abriu as portas da Europa para a Idade Moderna.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Revolução Industrial</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            Revolução Industrial foi iniciada na segunda metade do século XVIII
            e causou profundas transformações para a humanidade, por meio do
            surgimento da indústria e do capitalismo.
          </p>
          <p>
            Por Revolução Industrial, as ciências humanas compreendem como o
            período de grande desenvolvimento tecnológico que foi iniciado na
            Inglaterra a partir da segunda metade do século XVIII. Com o tempo,
            esse desenvolvimento espalhou-se para outras partes do mundo, como a
            Europa ocidental e os Estados Unidos. Assim, surgiu a indústria, e
            as transformações causadas por essa possibilitaram a consolidação do
            capitalismo.
          </p>
          <p>
            A economia, a nível mundial, sofreu grandes transformações. O
            processo de produção de mercadorias acelerou-se bastante, já que a
            produção manual foi substituída pela utilização da máquina. O
            resultado foi o estímulo à exploração dos recursos da natureza de
            maneira excessiva, uma vez que a capacidade produtiva aumentou. A
            Revolução Industrial também impactou as relações de trabalho,
            gerando uma reação dos trabalhadores, cada vez mais explorados no
            contexto industrial.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Primeira Guerra Mundial</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            A Primeira Guerra Mundial foi um conflito que ocorreu entre 1914 e
            1918 e ficou muito conhecida em razão dos combates que aconteciam
            nas trincheiras.
          </p>
          <p>
            A Primeira Guerra Mundial foi um marco na história da humanidade.
            Foi a primeira guerra do século XX e o primeiro conflito em estado
            de guerra total – aquele em que uma nação mobiliza todos os seus
            recursos para viabilizar o combate. Estendeu-se de 1914 a 1918 e foi
            resultado das transformações que aconteciam na Europa, as quais
            fizeram diferentes nações entrar em choque.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Revolução Francesa</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            A Revolução Francesa, ciclo revolucionário que aconteceu entre 1789
            e 1799, foi responsável pelo fim dos privilégios da aristocracia e
            pelo término do Antigo Regime.
          </p>
          <p>
            A Revolução Francesa é o nome dado ao ciclo revolucionário que
            aconteceu na França entre 1789 e 1799 que marcou o fim do
            absolutismo nesse país. Essa revolução, além de seu caráter burguês,
            teve uma grande participação popular e atingiu um alto grau de
            radicalismo, uma vez que a situação do povo francês era precária em
            virtude da crise que o país enfrentava.
          </p>
          <p>
            A Revolução Francesa foi um marco na história da humanidade, porque
            inaugurou um processo que levou à universalização dos direitos
            sociais e das liberdades individuais a partir da Declaração dos
            Direitos do Homem e do Cidadão. Essa revolução também abriu caminho
            para a consolidação de um sistema republicano pautado pela
            representatividade popular, hoje chamado de democracia
            representativa. A Revolução Francesa só foi possível graças à
            popularização dos ideais do Iluminismo.
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
    <div
      appearance="fill"
      style="margin-top: 10px; width: 100%"
      class="content"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>História</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            “O poeta pode contar ou cantar as coisas, não como foram mas como
            deviam ser; e o historiador há-de escrevê-las, não como deviam ser e
            sim como foram, sem acrescentar ou tirar nada à verdade.” -Miguel de
            Cervantes.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
            class="mat-button"
            mat-raised-button
            color="accent"
            routerLink="/materia/matematica"
          >
            Comece já
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Exercícios">Content 2</mat-tab>
  <mat-tab label="Vídeo aulas"
    ><div
    appearance="fill"
    style="margin-top: 10px; width: 100%"
    class="content"
    >
      <mat-card class="videos"
        style="margin-left: auto; margin-top: auto;">
          <mat-card-header> </mat-card-header>

          <mat-card-content>
            <div align="center">
              <iframe width="80%" height="700" src="https://www.youtube.com/embed/hehqnvTus1k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </mat-card-content>
          <mat-card-content>
            <div align="center">
              <iframe width="80%" height="700" src="https://www.youtube.com/embed/t6nJNv-pNr8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </mat-card-content>
          <mat-card-content>
            <div align="center">
              <iframe width="80%" height="700" src="https://www.youtube.com/embed/EEOYAN2CWwM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </mat-card-content>
          <mat-card-content>
            <div align="center">
              <iframe width="80%" height="700" src="https://www.youtube.com/embed/ceCcZooYDBo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </mat-card-content>
          <mat-card-actions> </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>
